<template>
<div id="about-us" class="bg-blue-100 mt-48 py-12 mb-32">
    <div class="container mx-auto px-6">
      <div class="flex flex-col md:flex-row">
        <div class="md:w-1/2 md:pr-8 lg:pr-16">
          <img src="@/assets/about-us.svg" class="-mt-24 md:mt-0 lg:-mt-24 mb-16 md:mb-0">
        </div>
        <div class="md:w-1/2">
          <h3 v-scrollanimation class="flex flex-col text-4xl text-secondary font-bold mb-6">Наша главная ценность — <strong style="color: #27DEBF;">команда</strong></h3>
          <!-- <p v-scrollanimation class="text-lg text-secondary-700 mb-4">Вместе мы развиваемся, помогаем достигать большего, строим открытые, честные отношения, празднуем победы, создаем будущее.</p> -->
          <p v-scrollanimation class="text-lg text-secondary-700 mb-4"> Мы всегда в поиске отличных преподавателей и рады с вами сотрудничать.</p>
          <p v-scrollanimation class="text-lg text-secondary-700 mb-4">
            Если Вы: Активны, любите преподавать и
            у вас имеется Высшее образование или языковой сертификат
            Минимум 1 года работы онлайн, Мы рады сотрудничать с вами!
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>

</style>
