<template>
<section class="contact-form py-12 pb-16">
      <h1 v-scrollanimation class="text-center text-2xl leading-9 font-bold text-gray-800" id="contacts">ФОРМА ОБРАТНОЙ СВЯЗИ</h1>
      <div class="container mx-auto px-4">
        <form v-on:submit.prevent="onSubmit" method="post">
          <div class="lg:flex lg:mb-3">
            <fieldset class="w-full px-3 mb-0">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Имя*
                <input type="text" name="name" class="block w-full px-4 py-3 mb-3 leading-tight border appearance-none text-primary font-semibold rounded focus:outline-none" required="" maxlength="30">
              </label>
            </fieldset>
            <fieldset class="w-full px-3 mb-0">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Email*
                <input type="email" name="email" class="block w-full px-4 py-3 mb-3 leading-tight border appearance-none text-primary font-semibold rounded focus:outline-none" required="" maxlength="50">
              </label>
            </fieldset>
            <fieldset class="w-full px-3 mb-0">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Телефон
                <input type="tel" name="phone" v-mask="'+# (###) ###-##-##'" class="block w-full px-4 py-3 mb-3 leading-tight border appearance-none text-primary font-semibold rounded focus:outline-none" required="" maxlength="30">
              </label>
            </fieldset>
          </div>
          <fieldset class="w-full px-3 mb-0">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Сообщение
              <textarea class="block w-full px-4 py-3 mb-3 leading-tight rounded border appearance-none text-primary font-semibold focus:outline-none" name="comment" rows="6" maxlength="300"></textarea>
            </label>
          </fieldset>
          <fieldset class="w-full px-3 mb-0 text-center lg:text-left">
          <button type="submit" class="py-2 px-4 mr-auto mt-3 text-md font-bold text-white border-2 border-transparent rounded shadow-md hover:bg-white hover:text-primary hover:border-primary hover:shadow-lg focus:outline-none" style="background: #1475be;">
            СВЯЗАТЬСЯ С НАМИ
          </button>
          </fieldset>
        </form>
      </div>
    </section>
</template>

<script>
import {mask} from 'vue-the-mask'
export default {
  directives: {mask},

  methods: {
    onSubmit(event) {
      const formData = new FormData(event.target);
      // const data = [...formData.entries()]
      // const asString = data.map(x => `${encodeURIComponent(x[0])}=${encodeURIComponent(x[1])}`).join('&')

      const asString = new URLSearchParams(formData).toString()

      fetch('/admin/app.php?a=add_ticket', {
        method: 'post',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: asString
      }).then((res) => {
        window.location.reload();
      })
    }
  }
}
</script>

<style scoped>
.contact-form {
  background-image: url(~@/assets/contact-form.jpg);
}
h1:after {
  content: " ";
  display: block;
  height: 2px;
  background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
  opacity: .25;
  width: 16rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
</style>
