<template>
  <div class="volonterstvo">
    <div class="filter_v"></div>
    <div class="content"></div>
  </div>
</template>

<script>
  export default {

  }
</script>

<style scoped>
.volonterstvo {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20%;
  height: 300px;
  background-image: url(~@/assets/volonter_map.jpg);
  background-size: cover;
  background-position: center;
}

.filter_v {
  position: absolute;
  width: 100%;
  height: 360px;
  background-color: #ff2bb5;
  opacity: 50%;
}


</style>
