<template>
  <div class="flex flex-wrap m-auto" style="max-width: 1200px;">
    <h1 v-scrollanimation class="heading text-center text-2xl leading-9 font-bold text-gray-800">ОБУЧЕНИЕ ЗА РУБЕЖОМ</h1>
    <div class="box1 relative">
      <div v-scrollanimation class="img-fr"></div>
      <div class="filter_2"></div>
    </div>
    <div class="box2">
      <h2 v-scrollanimation class="text-center heading-title">Зарубежное образование в лучших Мировых ВУЗах</h2>
      <p v-scrollanimation class="text-center  font-bold text-gray-800">Эффективная помощь при поступлении и оформление документов для обучения за рубежом</p>
    </div>

    <div class="box3">
      <h2  v-scrollanimation class="text-center heading-title">Основная идея волонтерства</h2>
      <p v-scrollanimation class="text-center font-bold text-gray-800">Объединить людей из разных стран с общими интересами для распространения идей мира и толерантности посредством общения волонтёров разных национальностей!</p>
    </div>

    <div class="box4 relative">
      <div v-scrollanimation class="img-ch"></div>
      <div class="filter_1"></div>
      <a href="/lessons" class="button-link">ОБУЧЕНИЕ ЗА РУБЕЖОМ</a>
    </div>
  </div>
</template>

<script>
  export default {

  }
</script>

<style scoped>

.heading {
  flex: 1 1 100%;
  margin: 50px 10px 70px;
}

.box1, .box4 {
  flex: 1 2 350px;
  height: 300px;
  margin: 10px;
}
.box2, .box3 {
  flex: 2 1 350px;
  height: 300px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.img-fr {
  width: 100%;
  height: 300px;
  background-image: url(~@/assets/anthony.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.img-fr.before-enter {
  opacity: 0;
  transform: scale(.5) rotateZ(-25deg);
  transition: all 2s ease-out;
}

.img-fr.enter {
  opacity: 1;
  transform: scale(1) rotateZ(0deg);
}

.img-ch {
  width: 100%;
  height: 300px;
  background-image: url(~@/assets/artem-chezh.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
}


.img-ch.before-enter {
  opacity: 0;
  transform: scale(.5);
  transition: all 2s ease-out;
}

.img-ch.enter {
  opacity: 1;
  transform: scale(1);
}


.heading-title {
  line-height: 1.4;
  font-size: 1.71rem;
  color: rgb(134, 46, 156);
  margin: 30px 0 20px;
}

.filter_1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ff2bb5;
  opacity: 50%;
  border-radius: 4px;
}

.filter_2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ff2bb5;
  opacity: 50%;
  border-radius: 4px;
  z-index: -1;
  transform: rotateZ(-10deg);
}

.button-link {
  display: block;
  width: 245px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  color: #ff2bb5;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.button-link:hover {
  color: rgba(255, 43, 181, 0.788);
}

</style>
