<template>
<!-- Display Container (not part of component) START -->
  <div class="mx-auto p-16 sm:p-8 lg:p-48 bg-gray-200">
    <!-- Carousel Body -->
    <div class="vue-horizontal-list" ref="container">

      <div class="vhl-navigation" v-if="width.window > _options.navigation.start">
        <div
          v-for="item in items" :key="item.id" ref="item" :class="_options.item.class" :style="_style.item"
          class="relative rounded-lg block md:flex items-center bg-gray-100 shadow-xl" style="min-height: 19rem;"
        >
          <div class="relative w-full md:w-2/5 h-full overflow-hidden rounded-t-lg md:rounded-t-none md:rounded-l-lg" style="min-height: 19rem;">
            <img class="absolute inset-0 w-full h-full object-cover object-center" :src="require(`~/assets/students/${item.img}.jpeg`)" alt="">
          </div>
          <div class="w-full md:w-3/5 h-full flex items-center bg-gray-100 rounded-lg">
            <div class="p-12 md:pr-24 md:pl-16 md:py-12">
              <p class="text-gray-600">TEST</p>
              <a class="flex items-baseline mt-3 text-indigo-600 hover:text-indigo-900 focus:text-indigo-900" href="">
                <span>Learn more about our users</span>
                <span class="text-xs ml-1">&#x279c;</span>
              </a>
            </div>
            <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-gray-100 -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
              <polygon points="50,0 100,0 50,100 0,100" />
            </svg>
          </div>
        </div>
      <button class="absolute top-0 mt-32 left-0 bg-white rounded-full shadow-md h-12 w-12 text-2xl text-indigo-600 hover:text-indigo-400 focus:text-indigo-400 -ml-6 focus:outline-none focus:shadow-outline">
        <span class="block" style="transform: scale(-1);">&#x279c;</span>
      </button>
      <button class="absolute top-0 mt-32 right-0 bg-white rounded-full shadow-md h-12 w-12 text-2xl text-indigo-600 hover:text-indigo-400 focus:text-indigo-400 -mr-6 focus:outline-none focus:shadow-outline">
        <span class="block" style="transform: scale(1);">&#x279c;</span>
      </button>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      options: {
        responsive: [
          {end: 576, size: 1},
          {start: 576, end: 768, size: 1},
          {size: 1}
        ]
      },
      items: [
        {id: '0', img: 'alena', name: 'Алена', quote: 'Школу посоветовал друг мужа, учу английский уже 3 месяца. В начале стеснялась говорить, сейчас появилась уверенность. Есть прогресс.'},
        {id: '1', img: 'asemzhan-mob',name: 'Асемжан', quote: 'С детства люблю английский язык, но в школе не получаю достаточно знаний и моя мама нашла в интернете Roboenglish. Мне нравиться английский как преподаёт моя учительница, очень тактичная и объясняет урок очень легко и просто! Все нравится!'},
        {id: '2', img: 'dostan',name: 'Дастан', quote: 'Отличная школа ! Профессиональные сотрудники помогут развить у ваших детей интеллектуальные качества и улучшат моторику. Мой сын занимается в этой школе. Очень довольны! Всем советую !'},
        {id: '3', img: 'ekaterina',name: 'Екатерина', quote: "Долго искала курсы чешского языка, подруга посоветовала Roboenglish.  Занимаюсь с Нургуль, все нравится. Рекомендую"},
        {id: '4', img: 'gasida', name: 'Гасида', quote: 'Я изучала в школе Французский язык, чтобы моя длительная поездка во Францию не стала катастрофой ;) Благодаря глубоким знанием, а также терпению моего учителя, я овладела основными навыками разговорной речи французского языка.',
          quoteNext: 'Сейчас я во Франции уже второй год, и я добилась больших успехов в своей работе тут благодаря своему французскому. Меня даже повысили ;) Спасибо большое, Нургуль, что дала мне возможность развить себя, развить мою карьеру.'},
        {id: '5', img: 'dilnaz', name: 'Дильназ', quote: "Долго искали курс чешского языка в Актобе, нашли Roboenglish. Обучением довольна, Нургуль  помогает кроме чешского и с поступлением и подбирает вузы"},
        {id: '6', img: 'batyr',
        name: 'Батыр', quote: 'Я изучал английский язык перед поездкой в США. Мне почти 40 лет, и для меня изучать что-то, особенно иностранный язык, очень сложно.',
        quoteNext: 'Мой учитель сидел со мной и так терпеливо обучал, что мне становилось временами стыдно. Я думал, что я так и не научился разговаривать на английском, но какого было моё удивление, когда приехав в США, я без труда отвечал на простые вопросы "Как дела?", "Куда едете?" и т.д. В штатах были молодые люди из Казахстана, которые всё время спрашивали откуда у меня такой английский? Ведь многие в моём возрасте и тем более, кто впервые приехал вообще ничего не понимают. А я с гордостью отвечал, что я изучал английский, и мой учитель Best of the best! Язык до Киева доведёт, и это правда!'},
      ],

      position: 0,

      /**
       * Width of item, list and window
       */
      width: {
        container: 0,
        window: 576
      }
    }
  },

  mounted() {
    this.$resize = () => {
      this.width.window = window.innerWidth
      this.width.container = this.$refs.container.clientWidth
    }

    this.$resize()
    window.addEventListener('resize', this.$resize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.$resize)
  },

  methods: {
    nextPage(id) {
      this.items[id].quote += " " + this.items[id].quoteNext;
      this.items[id].quoteNext = "";
    },


    go(position) {
      const maxPosition = this.items.length - this._size
      this.position = position > maxPosition ? maxPosition : position

      const left = this._itemWidth * this.position + this.position * this._options.item.padding
      this.$refs.list.scrollTo({top: 0, left: left, behavior: 'smooth'})
    },

    /**
     * Go to a set of previous items
     */
    prev() {
      this.go(this.position - this._size)
    },

    /**
     * Go to a set of next items
     */
    next() {
      this.go(this.position + this._size)
    }
  },

  computed: {
    _options() {
      const options = this.options

      return {
        navigation: {
          start: options && options.navigation && options.navigation.start || 992,
          color: options && options.navigation && options.navigation.color || '#000',
        },
        item: {
          class: options && options.item && options.item.class || '',
          padding: options && options.item && options.item.padding || 16,
        },
        list: {
          class: options && options.list && options.list.class || '',
          windowed: options && options.list && options.list.windowed || 1200,
          padding: options && options.list && options.list.padding || 24,
        },
        responsive: [
          ...(options && options.responsive || []),

          // Fallback default responsive
          {end: 576, size: 1},
          {start: 576, end: 768, size: 2},
          {start: 768, end: 992, size: 3},
          {start: 992, end: 1200, size: 4},
          {start: 1200, size: 5},
        ],
      }
    },

    _style() {
      const style = {
        container: {},
        list: {},
        item: {},
        tail: {}
      }

      const workingWidth = this._workingWidth
      const size = this._size

      // Full Screen Mode
      if (this.width.window < this._options.list.windowed) {
        style.container.marginLeft = `-${this._options.list.padding}px`
        style.container.marginRight = `-${this._options.list.padding}px`

        style.item.width = `${(workingWidth - (size - 1) * this._options.item.padding) / size}px`
        style.item.paddingLeft = `${this._options.list.padding}px`
        style.item.paddingRight = `${this._options.item.padding}px`
        style.item.marginRight = `-${this._options.list.padding}px`
      }

      // Windowed Mode
      else {
        style.item.paddingLeft = `${this._options.item.padding / 2}px`
        style.item.paddingRight = `${this._options.item.padding / 2}px`

        style.container.marginLeft = `-${this._options.item.padding / 2}px`
        style.container.marginRight = `-${this._options.item.padding / 2}px`

        style.item.width = `${(workingWidth - (size - 1) * this._options.item.padding) / size}px`

      }

      return style
    },

    _itemWidth() {
      return (this._workingWidth - (this._size - 1) * this._options.item.padding) / this._size
    },

    /**
     * @return number actual width of the container
     */
    _workingWidth() {
      // Full Screen Mode
      if (this.width.window < this._options.list.windowed) {
        return this.width.window - this._options.list.padding * 2
      }

      // Windowed Mode
      else {
        return this.width.container
      }
    },

    /**
     * @return visible items in horizontal list at the current width/state
     */
    _size() {
      const width = this._workingWidth
      return this._options.responsive.find(value => {
        return (!value.start || value.start <= width) && (!value.end || value.end >= width)
      }).size
    },

    /**
     * @return boolean whether there is prev set of items for navigation
     * @private internal use
     */
    _hasNext() {
      return this.items.length > this.position + this._size
    },

    /**
     * @return boolean whether there is next set of items for navigation
     * @private internal use
     */
    _hasPrev() {
      return this.position > 0
    },
  }
}
</script>
