<template>
<div class="py-12 bg-gray-100 border-b">
  <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-screen-xl lg:px-8">
    <h2 id="otziv" class="text-center text-2xl leading-9 font-bold text-gray-800">Что говорят наши ученики?</h2>
    <div class="mt-8 mb-12">
      <div class="vue-horizontal-list" ref="container">
          <div class="vhl-navigation" v-if="width.window > _options.navigation.start">
            <div @click="prev" v-if="_hasPrev"
                class="vhl-btn-left">
              <svg :fill="_options.navigation.color" width="32px" height="32px" viewBox="0 0 24 24">
                <path d="M10.757 12l4.95 4.95a1 1 0 1 1-1.414 1.414l-5.657-5.657a1 1 0 0 1 0-1.414l5.657-5.657a1 1 0 0 1 1.414 1.414L10.757 12z"/>
              </svg>
            </div>

            <div @click="next" v-if="_hasNext"
                class="vhl-btn-right">
              <svg :fill="_options.navigation.color" width="32px" height="32px" viewBox="0 0 24 24">
                <path d="M13.314 12.071l-4.95-4.95a1 1 0 0 1 1.414-1.414l5.657 5.657a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 0 1-1.414-1.414l4.95-4.95z"/>
              </svg>
            </div>
          </div>

          <div class="vhl-container" :style="_style.container">
            <div class="vhl-list" ref="list" :class="_options.list.class" :style="_style.list">
              <div v-for="item in items" :key="item.id" ref="item" class="vhl-item" :class="_options.item.class" :style="_style.item">
                <blockquote class="mt-8 md:flex-grow md:flex md:flex-col min-w-full block">
                  <div class="relative text-lg leading-7 font-medium md:flex-grow">
                    <svg class="absolute top-0 left-0 transform -translate-y-2 h-8 w-8 text-gray-400" fill="currentColor" viewBox="0 0 32 32">
                      <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"></path>
                    </svg>
                    <p class="relative text-center text-gray-600">
                      {{ item.quote }}
                    </p>
                    <p v-if="item.quoteNext" @click="nextPage(item.id)" class="relative text-right mt-2 cursor-pointer text-gray-800 hover:text-gray-600">
                      Читать дальше...
                    </p>
                  </div>
                  <footer class="mt-8 text-center flex justify-center align-middle">
                    <div class="flex">
                      <div class="flex-shrink-0 inline-flex rounded-full border-2 border-white">
                        <img class="rounded-full" style="width: 4rem; height: 4rem;" :src="require(`~/assets/students/${item.img}.jpeg`)" alt="">
                      </div>
                      <div class="ml-4">
                        <div class="text-base font-medium text-gray-800 align-middle" style="line-height: 64px;">{{ item.name }}</div>
                      </div>
                    </div>
                  </footer>
                </blockquote>
              </div>

              <div :style="_style.tail">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  export default {

    data() {
      return {
        options: {
          responsive: [
            {end: 576, size: 1},
            {start: 576, end: 768, size: 1},
            {size: 1}
          ]
        },
        items: [
          {id: '0', img: 'alena', name: 'Алена', quote: 'Школу посоветовал друг мужа, учу английский уже 3 месяца. В начале стеснялась говорить, сейчас появилась уверенность. Есть прогресс.'},
          {id: '1', img: 'asemzhan-mob',name: 'Асемжан', quote: 'С детства люблю английский язык, но в школе не получаю достаточно знаний и моя мама нашла в интернете Roboenglish. Мне нравиться английский как преподаёт моя учительница, очень тактичная и объясняет урок очень легко и просто! Все нравится!'},
          {id: '2', img: 'dostan',name: 'Дастан', quote: 'Отличная школа ! Профессиональные сотрудники помогут развить у ваших детей интеллектуальные качества и улучшат моторику. Мой сын занимается в этой школе. Очень довольны! Всем советую !'},
          {id: '3', img: 'ekaterina',name: 'Екатерина', quote: "Долго искала курсы чешского языка, подруга посоветовала Roboenglish.  Занимаюсь с Нургуль, все нравится. Рекомендую"},
          {id: '4', img: 'gasida', name: 'Гасида', quote: 'Я изучала в школе Французский язык, чтобы моя длительная поездка во Францию не стала катастрофой ;) Благодаря глубоким знанием, а также терпению моего учителя, я овладела основными навыками разговорной речи французского языка.',
            quoteNext: 'Сейчас я во Франции уже второй год, и я добилась больших успехов в своей работе тут благодаря своему французскому. Меня даже повысили ;) Спасибо большое, Нургуль, что дала мне возможность развить себя, развить мою карьеру.'},
          {id: '5', img: 'dilnaz', name: 'Дильназ', quote: "Долго искали курс чешского языка в Актобе, нашли Roboenglish. Обучением довольна, Нургуль  помогает кроме чешского и с поступлением и подбирает вузы"},
          {id: '6', img: 'batyr',
          name: 'Батыр', quote: 'Я изучал английский язык перед поездкой в США. Мне почти 40 лет, и для меня изучать что-то, особенно иностранный язык, очень сложно.',
          quoteNext: 'Мой учитель сидел со мной и так терпеливо обучал, что мне становилось временами стыдно. Я думал, что я так и не научился разговаривать на английском, но какого было моё удивление, когда приехав в США, я без труда отвечал на простые вопросы "Как дела?", "Куда едете?" и т.д. В штатах были молодые люди из Казахстана, которые всё время спрашивали откуда у меня такой английский? Ведь многие в моём возрасте и тем более, кто впервые приехал вообще ничего не понимают. А я с гордостью отвечал, что я изучал английский, и мой учитель Best of the best! Язык до Киева доведёт, и это правда!'},
        ],

        position: 0,

        /**
         * Width of item, list and window
         */
        width: {
          container: 0,
          window: 576
        }
      }
    },

    mounted() {
      this.$resize = () => {
        this.width.window = window.innerWidth
        this.width.container = this.$refs.container.clientWidth
      }

      this.$resize()
      window.addEventListener('resize', this.$resize)
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.$resize)
    },

    methods: {
      nextPage(id) {
        this.items[id].quote += " " + this.items[id].quoteNext;
        this.items[id].quoteNext = "";
      },


      go(position) {
        const maxPosition = this.items.length - this._size
        this.position = position > maxPosition ? maxPosition : position

        const left = this._itemWidth * this.position + this.position * this._options.item.padding
        this.$refs.list.scrollTo({top: 0, left: left, behavior: 'smooth'})
      },

      /**
       * Go to a set of previous items
       */
      prev() {
        this.go(this.position - this._size)
      },

      /**
       * Go to a set of next items
       */
      next() {
        this.go(this.position + this._size)
      }
    },

    computed: {
     _options() {
        const options = this.options

        return {
          navigation: {
            start: options && options.navigation && options.navigation.start || 992,
            color: options && options.navigation && options.navigation.color || '#000',
          },
          item: {
            class: options && options.item && options.item.class || '',
            padding: options && options.item && options.item.padding || 16,
          },
          list: {
            class: options && options.list && options.list.class || '',
            windowed: options && options.list && options.list.windowed || 1200,
            padding: options && options.list && options.list.padding || 24,
          },
          responsive: [
            ...(options && options.responsive || []),

            // Fallback default responsive
            {end: 576, size: 1},
            {start: 576, end: 768, size: 2},
            {start: 768, end: 992, size: 3},
            {start: 992, end: 1200, size: 4},
            {start: 1200, size: 5},
          ],
        }
      },

      _style() {
        const style = {
          container: {},
          list: {},
          item: {},
          tail: {}
        }

        const workingWidth = this._workingWidth
        const size = this._size

        // Full Screen Mode
        if (this.width.window < this._options.list.windowed) {
          style.container.marginLeft = `-${this._options.list.padding}px`
          style.container.marginRight = `-${this._options.list.padding}px`

          style.item.width = `${(workingWidth - (size - 1) * this._options.item.padding) / size}px`
          style.item.paddingLeft = `${this._options.list.padding}px`
          style.item.paddingRight = `${this._options.item.padding}px`
          style.item.marginRight = `-${this._options.list.padding}px`
        }

        // Windowed Mode
        else {
          style.item.paddingLeft = `${this._options.item.padding / 2}px`
          style.item.paddingRight = `${this._options.item.padding / 2}px`

          style.container.marginLeft = `-${this._options.item.padding / 2}px`
          style.container.marginRight = `-${this._options.item.padding / 2}px`

          style.item.width = `${(workingWidth - (size - 1) * this._options.item.padding) / size}px`

        }

        return style
      },

      _itemWidth() {
        return (this._workingWidth - (this._size - 1) * this._options.item.padding) / this._size
      },

      /**
       * @return number actual width of the container
       */
      _workingWidth() {
        // Full Screen Mode
        if (this.width.window < this._options.list.windowed) {
          return this.width.window - this._options.list.padding * 2
        }

        // Windowed Mode
        else {
          return this.width.container
        }
      },

      /**
       * @return visible items in horizontal list at the current width/state
       */
      _size() {
        const width = this._workingWidth
        return this._options.responsive.find(value => {
          return (!value.start || value.start <= width) && (!value.end || value.end >= width)
        }).size
      },

      /**
       * @return boolean whether there is prev set of items for navigation
       * @private internal use
       */
      _hasNext() {
        return this.items.length > this.position + this._size
      },

      /**
       * @return boolean whether there is next set of items for navigation
       * @private internal use
       */
      _hasPrev() {
        return this.position > 0
      },
    }
  }
</script>

<style scoped>
.banner {
  width: 350px;
  height: 400px;
  background-color: #f2ccc9;
  border-radius: 40px 0 0 40px;
  background-repeat: no-repeat;
  background-position: 100% 20%;
  background-size: cover;
  float: left;
}
  .vue-horizontal-list {
    position: relative;
  }

  .vhl-navigation {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .vhl-btn-left, .vhl-btn-right {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 24px;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    z-index: 2;
  }

  .vhl-btn-left:hover, .vhl-btn-right:hover {
    cursor: pointer;
  }

  .vhl-btn-left {
    margin-left: -24px;
    margin-right: auto;
  }

  .vhl-btn-right {
    margin-left: auto;
    margin-right: -24px;
  }

  .vhl-container {
    overflow-y: hidden;
    height: 100%;
    margin-bottom: -24px;
  }

  .vhl-list {
    display: flex;
    padding-bottom: 24px;
    margin-bottom: -24px;

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }

  .vhl-item {
    box-sizing: content-box;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .vhl-list > * {
    scroll-snap-align: start;
    flex-shrink: 0;
  }

  .vhl-item {
    z-index: 1;
  }
</style>
