<template>
<div class="cost bg-gray-100 text-gray-700  font-sans quicksand">
  <h2 class="text-center text-3xl py-10">Стоимость занятий</h2>
  <p class="text-2xl leading-2 text-center">Английский язык</p>
  <div class="pb-16 px-0 md:px-16">

    <div class="flex md:flex-row flex-col max-w-6xl m-auto my-10">
      <div class="md:w-1/3 p-4 flex justify-center items-center bg-gray-200 mx-2 rounded">
          <div class="w-16 h-16 p-2">
            <svg class="fill-current" enable-background="new 0 0 480.002 480.002" width="100%" height="100%" viewBox="0 0 480.002 480.002"  xmlns="http://www.w3.org/2000/svg"><path d="m413.176 369.138-19.473 19.473c5.419 11.117 8.297 23.401 8.297 36.132v47.257c0 4.418-3.582 8-8 8s-8-3.582-8-8v-47.257c0-35.015-26.92-63.564-61.09-66.332l-33.22 115.795c-1.007 3.51-4.208 5.796-7.686 5.796-5.319 0-9.159-5.1-7.694-10.208l32.362-112.803c-13.017-2.853-24.364-10.825-31.503-22.546-2.299-3.773-1.103-8.695 2.67-10.994 3.772-2.3 8.695-1.103 10.994 2.67 5.819 9.553 15.767 15.436 26.854 15.995.993-.166 2.029-.145 3.064.088 24.978.391 48.511 11.843 64.299 32.433l16.812-16.812c6.528-6.528 7.137-16.916 1.416-24.162-12.686-16.058-9.461-35.485 2.702-46.953 6.831-6.44 7.604-17.24 1.759-24.587l-11.516-14.477c-6.933-8.716-9.191-20.297-6.039-30.98l7.445-25.23c2.653-8.991-1.888-18.452-10.562-22.006l-9.826-4.026c-12.903-5.288-21.241-17.711-21.241-31.651v-25.749c0-50.733-41.271-92.004-92-92.004h-48c-50.729 0-92 41.273-92 92.004v25.749c0 13.94-8.337 26.363-21.24 31.651l-9.827 4.026c-8.674 3.554-13.214 13.015-10.562 22.006l7.445 25.23c3.152 10.683.895 22.264-6.039 30.98l-11.516 14.477c-5.844 7.347-5.071 18.146 1.759 24.587 12.184 11.487 15.373 30.91 2.7 46.955-5.72 7.245-5.111 17.632 1.417 24.16l16.812 16.812c15.478-20.185 39.207-32.465 65.621-32.465 18.463 0 33.429-14.877 33.429-33.341v-2.102c-33.067-15.745-55.181-46.937-59.994-81.877-.603-4.377 2.457-8.414 6.833-9.017 4.375-.604 8.414 2.457 9.017 6.833 6.161 44.728 44.914 78.457 90.144 78.457 50.178 0 91-40.822 91-91v-49.317c-18.703-6.779-35.017-19.818-45.674-38.044-38.579 44.82-93.665 70.894-152.006 73.229-4.405.178-8.136-3.252-8.313-7.674-.177-4.415 3.259-8.137 7.674-8.313 57.611-2.304 111.893-29.584 147.959-76.859 3.768-4.941 11.505-3.872 13.796 1.901 8.398 21.157 26.034 36.369 46.751 42.256 3.048.854 5.52 3.603 5.783 7.088.05.656.038 56.23.027 56.571-.546 70.5-68.621 121.934-137.165 101.802-1.04 13.255-7.35 25.734-18.34 34.562l48.508 37.555 28.53-22.087c3.496-2.705 8.519-2.064 11.223 1.428 2.705 3.494 2.065 8.519-1.428 11.223l-30.325 23.477v57.077c0 4.418-3.582 8-8 8s-8-3.582-8-8v-57.076l-55.864-43.249c-8.677 2.862-16.325 2.498-15.563 2.498-36.794-.001-66.573 29.773-66.573 66.571v47.256c0 4.418-3.582 8-8 8s-8-3.582-8-8v-47.257c0-12.731 2.878-25.015 8.297-36.132l-19.473-19.473c-11.395-11.395-14.404-30.522-1.979-46.254 5.891-7.462 5.117-18.01-1.802-24.533-12.832-12.099-14.283-32.387-3.304-46.189l11.516-14.478c3.691-4.639 4.892-10.804 3.214-16.491l-7.445-25.23c-4.984-16.891 3.546-34.663 19.841-41.34l9.827-4.026c6.868-2.814 11.306-9.427 11.306-16.845v-25.749c.004-59.552 48.453-108.003 108.004-108.003h48c59.551 0 108 48.449 108 108v25.753c0 7.418 4.438 14.031 11.307 16.846l9.826 4.025c16.296 6.677 24.826 24.449 19.842 41.34l-7.445 25.23c-1.678 5.687-.477 11.852 3.214 16.491l11.516 14.477c10.979 13.802 9.527 34.091-3.304 46.189-6.919 6.523-7.693 17.071-1.801 24.535 12.219 15.467 9.63 34.643-1.98 46.252zm-233.476 15.688c-1.201-4.252-5.621-6.728-9.873-5.525-4.252 1.201-6.726 5.621-5.525 9.873l24 85c1.201 4.253 5.622 6.725 9.873 5.525 4.252-1.201 6.726-5.621 5.525-9.873z"/></svg>
          </div>
          <div class="ml-2">
            <div>Русскоязычный преподаватель</div>
          </div>
      </div>
      <div class="md:w-1/3 p-4 flex justify-center items-center bg-gray-200 mx-2 rounded">
          <div class="w-16 h-16 p-2">
            <svg id="Capa_1" enable-background="new 0 0 512.009 512.009" height="100%" viewBox="0 0 512.009 512.009" width="100%" xmlns="http://www.w3.org/2000/svg"><g><path d="m437.066 436.971c40.56-40.561 65.784-92.009 72.944-148.784 6.695-53.088-3.59-107.692-28.977-154.438l18.558-18.558c6.554-6.554 4.459-17.67-4.033-21.388l-32.802-14.362c5.024-8.453 3.941-19.509-3.368-26.819-7.312-7.312-18.368-8.39-26.819-3.368l-14.362-32.802c-3.725-8.507-14.846-10.574-21.389-4.033l-18.557 18.557c-96.091-52.182-220.22-39.031-303.22 43.97-100.044 100.045-100.053 261.971 0 362.025 100.048 100.047 261.97 100.054 362.025 0zm.286-287.725-30.184-13.215 16.313-16.314 35.032 15.338-12.569 12.57c-2.252 2.256-5.622 2.921-8.592 1.621zm-72.966-83.178 12.57-12.57 15.338 35.032-16.314 16.314c-.477-1.089-11.881-27.135-13.216-30.183-1.288-2.946-.652-6.319 1.622-8.593zm-67.894 118.265c-31.849-17.984-72.406-12.757-98.614 13.452-32.077 32.077-32.077 84.271.001 116.349 11.528 11.529 26.071 19.299 42.055 22.471.493.098.983.145 1.468.145 3.506 0 6.641-2.472 7.349-6.042.807-4.063-1.834-8.01-5.896-8.816-13.062-2.592-24.946-8.942-34.368-18.364-26.229-26.229-26.229-68.907 0-95.136 20.42-20.421 51.5-25.275 76.913-12.964l-45.046 45.046c-8.598 8.598-8.598 22.588.001 31.187 8.599 8.598 22.589 8.597 31.188 0l45.045-45.045c12.312 25.412 7.457 56.491-12.963 76.912-8.108 8.107-18.226 14.032-29.258 17.132-3.987 1.121-6.312 5.262-5.191 9.249 1.121 3.988 5.263 6.314 9.25 5.191 13.502-3.794 25.883-11.044 35.806-20.966 26.208-26.209 31.437-66.766 13.45-98.613l31.1-31.1c34.246 49.138 28.963 116.877-14.212 160.052-48.807 48.808-128.22 48.806-177.026 0-48.845-48.844-48.844-128.185 0-177.028 43.129-43.13 110.867-48.49 160.051-14.211zm173.411-60.666-35.032-15.338 17.193-17.194 35.032 15.339zm-21.121-60.436c2.755 2.755 2.758 7.216-.001 9.974-4.423 4.423-130.99 130.991-135.882 135.883 0 0-.001 0-.001.001l-51.964 51.964c-2.751 2.75-7.226 2.75-9.975 0-2.75-2.75-2.75-7.225 0-9.974 4.883-4.883 185.931-185.931 187.849-187.849h-.001c2.758-2.755 7.216-2.757 9.975.001zm-43.244-38.315 15.339 35.032-17.193 17.193-15.339-35.032zm-319.89 60.637c77.483-77.483 192.143-89.861 281.525-43.486l-13.393 13.394c-6.673 6.672-8.54 16.57-4.755 25.215l.22.503c-76.394-40.619-171.34-27.205-233.258 34.712-77.302 77.302-77.302 202.831 0 280.133 77.232 77.231 202.897 77.236 280.134 0 32.607-32.608 52.88-75.892 57.083-121.878.377-4.125-2.661-7.774-6.786-8.151-4.129-.382-7.774 2.661-8.151 6.786-3.885 42.501-22.619 82.503-52.753 112.637-71.44 71.44-187.479 71.439-258.919 0-71.441-71.441-71.439-187.48 0-258.92 63.011-63.011 161.526-70.648 233.086-21.486 1.471 3.359.482 1.1 4.913 11.22l-26.248 26.248c-55.135-40.019-132.356-34.697-181.412 14.358-54.707 54.708-54.705 143.535 0 198.241 54.654 54.653 143.583 54.657 198.241 0 49.03-49.03 54.4-126.246 14.358-181.413l26.247-26.247 11.22 4.912c17.617 25.644 28.418 55.615 31.272 86.815.377 4.125 4.037 7.162 8.151 6.786 4.125-.377 7.163-4.027 6.786-8.152-2.409-26.346-10.077-51.878-22.386-75.019 9.706 4.252 19.405 1.794 25.728-4.529l13.394-13.394c22.372 43.117 31.301 92.963 25.184 141.472-6.74 53.44-30.485 101.87-68.67 140.054-94.183 94.184-246.621 94.191-340.811 0-94.182-94.181-94.192-246.62 0-340.811z"/></g></svg>
          </div>
          <div class="ml-2">
            <div>₸2000 / пробный урок</div>
          </div>
      </div>
      <div class="md:w-1/3 p-4 flex justify-center items-center bg-gray-200 mx-2 rounded">
          <div class="w-16 h-16 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>
          </div>
          <div class="ml-2">
            <div>Стоимость ₸8000 в месяц<br>занятия раз в неделю</div>
          </div>
      </div>
    </div>


      <div class="row">
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--3">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--3">
                  2 занятия в неделю
                </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>6,25% скидка</li>
                  <li>индивидуально</li>
                  <li>50 минут</li>
                  <li>Уровень: любой</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">В месяц</p>
                  <p class="card__price-value">₸15000</p>
                </div>
                <a href="https://wa.me/77767932168?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D1%84%D0%BE%D1%80%D0%BC%D0%B0%20%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%202%20%D1%80%D0%B0%D0%B7%D0%B0%20%D0%B2%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8E%2C%20%D0%B0%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9%20%D1%8F%D0%B7%D1%8B%D0%BA" class="btn btn--white">Купить</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--1">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">
                  3 занятия в неделю
                </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>8,3% скидка</li>
                  <li>индивидуально</li>
                  <li>50 минут</li>
                  <li>Уровень: любой</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">В месяц</p>
                  <p class="card__price-value">₸22000</p>
                </div>
                <a href="https://wa.me/77767932168?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D1%84%D0%BE%D1%80%D0%BC%D0%B0%20%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%203%20%D1%80%D0%B0%D0%B7%D0%B0%20%D0%B2%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8E%2C%20%D0%B0%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9%20%D1%8F%D0%B7%D1%8B%D0%BA" class="btn btn--white">Купить</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--2">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--2">
                  4 занятия в неделю
                </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>12,5% скидка</li>
                  <li>индивидуально</li>
                  <li>50 минут</li>
                  <li>Уровень: любой</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">В месяц</p>
                  <p class="card__price-value">₸28000</p>
                  <p class="card__price-only pt-1">100 эл.книг</p>
                </div>
                <a href="https://wa.me/77767932168?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D1%84%D0%BE%D1%80%D0%BC%D0%B0%20%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%204%20%D1%80%D0%B0%D0%B7%D0%B0%20%D0%B2%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8E%2C%20%D0%B0%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9%20%D1%8F%D0%B7%D1%8B%D0%BA" class="btn btn--white">Купить</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--4">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--4">
                  6 занятий в неделю
                </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>12,5% скидка</li>
                  <li>индивидуально</li>
                  <li>50 минут</li>
                  <li>Уровень: любой</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-4">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">В месяц</p>
                  <p class="card__price-value">₸42000</p>
                  <p class="card__price-only pt-1 border-bottom-1">100 эл.книг</p>
                  <p class="card__price-only pt-1 border-bottom-1">Фирменная флэшка 8 ГБ</p>
                  <p class="card__price-only pt-1">Сертификат об окончании</p>
                </div>
                <a href="https://wa.me/77767932168?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D1%84%D0%BE%D1%80%D0%BC%D0%B0%20%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%206%20%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D0%B9%20%D0%B2%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8E%2C%20%D0%B0%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9%20%D1%8F%D0%B7%D1%8B%D0%BA" class="btn btn--white">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>


         <p class="text-2xl leading-2 text-center mt-24 px-8">Чешский, французский, немецкий, испанский, корейский, арабский, японский и тайский</p>

        <div class="flex md:flex-row flex-col max-w-6xl m-auto my-10">
          <div class="md:w-1/3 p-4 flex justify-center items-center bg-gray-200 mx-2 rounded">
              <div class="w-16 h-16 p-2">
                <svg class="fill-current" enable-background="new 0 0 480.002 480.002" width="100%" height="100%" viewBox="0 0 480.002 480.002"  xmlns="http://www.w3.org/2000/svg"><path d="m413.176 369.138-19.473 19.473c5.419 11.117 8.297 23.401 8.297 36.132v47.257c0 4.418-3.582 8-8 8s-8-3.582-8-8v-47.257c0-35.015-26.92-63.564-61.09-66.332l-33.22 115.795c-1.007 3.51-4.208 5.796-7.686 5.796-5.319 0-9.159-5.1-7.694-10.208l32.362-112.803c-13.017-2.853-24.364-10.825-31.503-22.546-2.299-3.773-1.103-8.695 2.67-10.994 3.772-2.3 8.695-1.103 10.994 2.67 5.819 9.553 15.767 15.436 26.854 15.995.993-.166 2.029-.145 3.064.088 24.978.391 48.511 11.843 64.299 32.433l16.812-16.812c6.528-6.528 7.137-16.916 1.416-24.162-12.686-16.058-9.461-35.485 2.702-46.953 6.831-6.44 7.604-17.24 1.759-24.587l-11.516-14.477c-6.933-8.716-9.191-20.297-6.039-30.98l7.445-25.23c2.653-8.991-1.888-18.452-10.562-22.006l-9.826-4.026c-12.903-5.288-21.241-17.711-21.241-31.651v-25.749c0-50.733-41.271-92.004-92-92.004h-48c-50.729 0-92 41.273-92 92.004v25.749c0 13.94-8.337 26.363-21.24 31.651l-9.827 4.026c-8.674 3.554-13.214 13.015-10.562 22.006l7.445 25.23c3.152 10.683.895 22.264-6.039 30.98l-11.516 14.477c-5.844 7.347-5.071 18.146 1.759 24.587 12.184 11.487 15.373 30.91 2.7 46.955-5.72 7.245-5.111 17.632 1.417 24.16l16.812 16.812c15.478-20.185 39.207-32.465 65.621-32.465 18.463 0 33.429-14.877 33.429-33.341v-2.102c-33.067-15.745-55.181-46.937-59.994-81.877-.603-4.377 2.457-8.414 6.833-9.017 4.375-.604 8.414 2.457 9.017 6.833 6.161 44.728 44.914 78.457 90.144 78.457 50.178 0 91-40.822 91-91v-49.317c-18.703-6.779-35.017-19.818-45.674-38.044-38.579 44.82-93.665 70.894-152.006 73.229-4.405.178-8.136-3.252-8.313-7.674-.177-4.415 3.259-8.137 7.674-8.313 57.611-2.304 111.893-29.584 147.959-76.859 3.768-4.941 11.505-3.872 13.796 1.901 8.398 21.157 26.034 36.369 46.751 42.256 3.048.854 5.52 3.603 5.783 7.088.05.656.038 56.23.027 56.571-.546 70.5-68.621 121.934-137.165 101.802-1.04 13.255-7.35 25.734-18.34 34.562l48.508 37.555 28.53-22.087c3.496-2.705 8.519-2.064 11.223 1.428 2.705 3.494 2.065 8.519-1.428 11.223l-30.325 23.477v57.077c0 4.418-3.582 8-8 8s-8-3.582-8-8v-57.076l-55.864-43.249c-8.677 2.862-16.325 2.498-15.563 2.498-36.794-.001-66.573 29.773-66.573 66.571v47.256c0 4.418-3.582 8-8 8s-8-3.582-8-8v-47.257c0-12.731 2.878-25.015 8.297-36.132l-19.473-19.473c-11.395-11.395-14.404-30.522-1.979-46.254 5.891-7.462 5.117-18.01-1.802-24.533-12.832-12.099-14.283-32.387-3.304-46.189l11.516-14.478c3.691-4.639 4.892-10.804 3.214-16.491l-7.445-25.23c-4.984-16.891 3.546-34.663 19.841-41.34l9.827-4.026c6.868-2.814 11.306-9.427 11.306-16.845v-25.749c.004-59.552 48.453-108.003 108.004-108.003h48c59.551 0 108 48.449 108 108v25.753c0 7.418 4.438 14.031 11.307 16.846l9.826 4.025c16.296 6.677 24.826 24.449 19.842 41.34l-7.445 25.23c-1.678 5.687-.477 11.852 3.214 16.491l11.516 14.477c10.979 13.802 9.527 34.091-3.304 46.189-6.919 6.523-7.693 17.071-1.801 24.535 12.219 15.467 9.63 34.643-1.98 46.252zm-233.476 15.688c-1.201-4.252-5.621-6.728-9.873-5.525-4.252 1.201-6.726 5.621-5.525 9.873l24 85c1.201 4.253 5.622 6.725 9.873 5.525 4.252-1.201 6.726-5.621 5.525-9.873z"/></svg>
              </div>
              <div class="ml-2">
                <div>Русскоязычный преподаватель</div>
              </div>
          </div>
          <div class="md:w-1/3 p-4 flex justify-center items-center bg-gray-200 mx-2 rounded">
              <div class="w-16 h-16 p-2">
                <svg id="Capa_1" enable-background="new 0 0 512.009 512.009" height="100%" viewBox="0 0 512.009 512.009" width="100%" xmlns="http://www.w3.org/2000/svg"><g><path d="m437.066 436.971c40.56-40.561 65.784-92.009 72.944-148.784 6.695-53.088-3.59-107.692-28.977-154.438l18.558-18.558c6.554-6.554 4.459-17.67-4.033-21.388l-32.802-14.362c5.024-8.453 3.941-19.509-3.368-26.819-7.312-7.312-18.368-8.39-26.819-3.368l-14.362-32.802c-3.725-8.507-14.846-10.574-21.389-4.033l-18.557 18.557c-96.091-52.182-220.22-39.031-303.22 43.97-100.044 100.045-100.053 261.971 0 362.025 100.048 100.047 261.97 100.054 362.025 0zm.286-287.725-30.184-13.215 16.313-16.314 35.032 15.338-12.569 12.57c-2.252 2.256-5.622 2.921-8.592 1.621zm-72.966-83.178 12.57-12.57 15.338 35.032-16.314 16.314c-.477-1.089-11.881-27.135-13.216-30.183-1.288-2.946-.652-6.319 1.622-8.593zm-67.894 118.265c-31.849-17.984-72.406-12.757-98.614 13.452-32.077 32.077-32.077 84.271.001 116.349 11.528 11.529 26.071 19.299 42.055 22.471.493.098.983.145 1.468.145 3.506 0 6.641-2.472 7.349-6.042.807-4.063-1.834-8.01-5.896-8.816-13.062-2.592-24.946-8.942-34.368-18.364-26.229-26.229-26.229-68.907 0-95.136 20.42-20.421 51.5-25.275 76.913-12.964l-45.046 45.046c-8.598 8.598-8.598 22.588.001 31.187 8.599 8.598 22.589 8.597 31.188 0l45.045-45.045c12.312 25.412 7.457 56.491-12.963 76.912-8.108 8.107-18.226 14.032-29.258 17.132-3.987 1.121-6.312 5.262-5.191 9.249 1.121 3.988 5.263 6.314 9.25 5.191 13.502-3.794 25.883-11.044 35.806-20.966 26.208-26.209 31.437-66.766 13.45-98.613l31.1-31.1c34.246 49.138 28.963 116.877-14.212 160.052-48.807 48.808-128.22 48.806-177.026 0-48.845-48.844-48.844-128.185 0-177.028 43.129-43.13 110.867-48.49 160.051-14.211zm173.411-60.666-35.032-15.338 17.193-17.194 35.032 15.339zm-21.121-60.436c2.755 2.755 2.758 7.216-.001 9.974-4.423 4.423-130.99 130.991-135.882 135.883 0 0-.001 0-.001.001l-51.964 51.964c-2.751 2.75-7.226 2.75-9.975 0-2.75-2.75-2.75-7.225 0-9.974 4.883-4.883 185.931-185.931 187.849-187.849h-.001c2.758-2.755 7.216-2.757 9.975.001zm-43.244-38.315 15.339 35.032-17.193 17.193-15.339-35.032zm-319.89 60.637c77.483-77.483 192.143-89.861 281.525-43.486l-13.393 13.394c-6.673 6.672-8.54 16.57-4.755 25.215l.22.503c-76.394-40.619-171.34-27.205-233.258 34.712-77.302 77.302-77.302 202.831 0 280.133 77.232 77.231 202.897 77.236 280.134 0 32.607-32.608 52.88-75.892 57.083-121.878.377-4.125-2.661-7.774-6.786-8.151-4.129-.382-7.774 2.661-8.151 6.786-3.885 42.501-22.619 82.503-52.753 112.637-71.44 71.44-187.479 71.439-258.919 0-71.441-71.441-71.439-187.48 0-258.92 63.011-63.011 161.526-70.648 233.086-21.486 1.471 3.359.482 1.1 4.913 11.22l-26.248 26.248c-55.135-40.019-132.356-34.697-181.412 14.358-54.707 54.708-54.705 143.535 0 198.241 54.654 54.653 143.583 54.657 198.241 0 49.03-49.03 54.4-126.246 14.358-181.413l26.247-26.247 11.22 4.912c17.617 25.644 28.418 55.615 31.272 86.815.377 4.125 4.037 7.162 8.151 6.786 4.125-.377 7.163-4.027 6.786-8.152-2.409-26.346-10.077-51.878-22.386-75.019 9.706 4.252 19.405 1.794 25.728-4.529l13.394-13.394c22.372 43.117 31.301 92.963 25.184 141.472-6.74 53.44-30.485 101.87-68.67 140.054-94.183 94.184-246.621 94.191-340.811 0-94.182-94.181-94.192-246.62 0-340.811z"/></g></svg>
              </div>
              <div class="ml-2">
                <div>₸3000 / пробный урок</div>
              </div>
          </div>
          <div class="md:w-1/3 p-4 flex justify-center items-center bg-gray-200 mx-2 rounded">
              <div class="w-16 h-16 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>
              </div>
              <div class="ml-2">
                <div>Стоимость ₸20000 в месяц <br>занятия раз в неделю</div>
              </div>
          </div>
        </div>

      <div class="row">
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--3">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--3">
                  2 занятия в неделю
                </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>5% скидка</li>
                  <li>индивидуально</li>
                  <li>50 минут</li>
                  <li>Уровень: любой</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">В месяц</p>
                  <p class="card__price-value">₸38000</p>
                </div>
                <a href="https://wa.me/77767932168?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D1%84%D0%BE%D1%80%D0%BC%D0%B0%20%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%202%20%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8F%20%D0%B2%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8E" class="btn btn--white">Купить</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--1">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">
                  3 занятия в неделю
                </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>6,66% скидка</li>
                  <li>индивидуально</li>
                  <li>50 минут</li>
                  <li>Уровень: любой</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">В месяц</p>
                  <p class="card__price-value">₸56000</p>
                  <br>
                  <p class="card__price-only">100 эл.книг</p>
                </div>
                <a href="https://wa.me/77767932168?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D1%84%D0%BE%D1%80%D0%BC%D0%B0%20%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%203%20%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8F%20%D0%B2%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8E" class="btn btn--white">Купить</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--2">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--2">
                  4 занятия в неделю
                </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>10% скидка</li>
                  <li>индивидуально</li>
                  <li>50 минут</li>
                  <li>Уровень: любой</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">В месяц</p>
                  <p class="card__price-value">₸72000</p>
                  <br>
                  <p class="card__price-only pt-1 border-bottom-1">200 эл.книг</p>
                  <p class="card__price-only pt-1 border-bottom-1">Фирменная флэшка 16 ГБ</p>
                  <p class="card__price-only pt-1">Сертификат об окончании</p>
                </div>
                <a href="https://wa.me/77767932168?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D1%84%D0%BE%D1%80%D0%BC%D0%B0%20%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%204%20%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8F%20%D0%B2%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8E" class="btn btn--white">Купить</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--4">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--4">
                  6 занятий в неделю
                </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>16,6% скидка</li>
                  <li>индивидуально</li>
                  <li>50 минут</li>
                  <li>Уровень: любой</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-4">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">В месяц</p>
                  <p class="card__price-value">₸100000</p>
                  <p class="card__price-only pt-1 border-bottom-1">300 эл.книг</p>
                  <p class="card__price-only pt-1 border-bottom-1">Фирменная флэшка 16 ГБ</p>
                  <p class="card__price-only pt-1 border-bottom-1">Сертификат об окончании</p>
                  <p class="card__price-only pt-1">30% на волонтерство в странах ЕВРОПЫ и АЗИИ</p>
                </div>
                <a href="https://wa.me/77767932168?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D1%84%D0%BE%D1%80%D0%BC%D0%B0%20%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%206%20%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D0%B9%20%D0%B2%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D1%8E" class="btn btn--white">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>

</div>
</template>

<script>
  export default {

  }
</script>

<style scoped>
.cost {
  margin-top: 60px;
}
.row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: auto;
  max-width: 114rem;
  align-items: center;
  flex-wrap: wrap;
}
.col-1-of-4 {
  width: 270px;
  height: auto;
  margin: 25px auto;
}
@media(max-width: 600px) {
  .col-1-of-4 {
    width: 90%;
  }
}

.border-bottom-1 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 6px;
}
</style>
