<template>
<div class="py-12 bg-white">
  <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-screen-xl lg:px-8">
    <h2 v-scrollanimation  class="text-center text-2xl leading-9 font-bold text-gray-900">ПОЧЕМУ ВЫБИРАЮТ НАС</h2>
    <div class="lg:grid lg:grid-cols-3 lg:gap-8 mt-8 lg:mt-20">
      <div>
        <div class="flex items-center justify-center h-12 w-1/6 mx-auto">
          <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="50" fill="white"/>
            <circle cx="50" cy="50" r="50" fill="url(#paint0_linear)"/>
            <circle cx="70" cy="34" r="11" fill="white"/>
            <path d="M40.1661 31.0017C36.8485 31.0017 34.1525 33.789 34.1525 37.1914V48.724H28.8818C26.736 48.724 25 50.4961 25 52.6846V66.5734C25 68.7619 26.736 70.54 28.8818 70.54H30.2481L30.6108 76.0436C30.6326 76.5888 31.1043 77.0208 31.6545 76.9992C31.9213 76.9889 32.175 76.8739 32.3564 76.6778L38.3743 70.54H50.5933C52.7391 70.54 54.4873 68.7636 54.4873 66.5734V63.6245L60.8741 70.9089C61.14 71.2139 61.5673 71.3305 61.9518 71.2061H61.9561L61.9588 71.2044C62.3424 71.0722 62.6144 70.7275 62.6484 70.3257V70.324L63.4471 61.0524H69.0012C72.3162 61.0524 75 58.2894 75 54.8887V37.1897C75 33.7881 72.3189 31 69.0012 31H68.9995L40.1661 31.0017ZM40.1661 33.0105H69.0003C71.1871 33.0105 72.9745 34.8724 72.9745 37.1931V54.8904C72.9745 57.2111 71.1897 59.0445 69.0003 59.0445H62.5089C61.9858 59.054 61.5498 59.4609 61.5071 59.9785L60.8322 67.7977L53.4794 59.4048C53.2893 59.1827 53.012 59.0531 52.7191 59.0471H40.1661C37.9776 59.0471 36.1797 57.2111 36.1797 54.8913V37.194C36.1797 34.8742 37.9802 33.0114 40.1661 33.0114V33.0105ZM28.8818 50.7328H34.1534V54.8904C34.1534 58.2928 36.8519 61.0542 40.167 61.0542H52.2456L52.4592 61.3082V66.5734C52.4592 67.681 51.6161 68.532 50.5933 68.532H37.9375C37.6637 68.539 37.4039 68.6556 37.2164 68.8535L32.4854 73.6763L32.209 69.4807C32.175 68.9563 31.7347 68.5398 31.2046 68.532H28.8826C27.859 68.532 27.0272 67.6836 27.0272 66.5734V52.6846C27.0272 51.5744 27.859 50.7328 28.8826 50.7328H28.8818Z" fill="black"/>
            <defs>
            <linearGradient id="paint0_linear" x1="-10.5882" y1="123.529" x2="200" y2="63.5294" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFE632"/>
            <stop offset="1" stop-color="#FFAC00"/>
            </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="mt-5 text-center">
          <h5 v-scrollanimation  class="text-lg leading-6 font-medium text-gray-900">УЧИ ОНЛАЙН</h5>
          <p  v-scrollanimation  class="mt-2 text-base leading-6 text-gray-800">
            Профессиональная команда RoboEnglish поможет тебе добиться успеха.
          </p>
        </div>
      </div>
      <div class="mt-20 lg:mt-0">
        <div class="flex items-center justify-center h-12 w-1/6 mx-auto">
          <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="50" cy="50" r="50" fill="white"/>
              <circle cx="50" cy="50" r="50" fill="url(#paint0_linear)"/>
              <path d="M81.8275 50.6501C81.8283 50.6501 81.829 50.6501 81.8296 50.6501C81.578 57.7248 79.0113 64.534 74.5069 70.0227C69.7589 75.8082 63.1517 79.7683 55.8112 81.2285C48.4706 82.6886 40.8509 81.5583 34.2503 78.0302C27.6497 74.5021 22.4766 68.7945 19.6125 61.8799C16.7484 54.9652 16.3704 47.2714 18.543 40.1093C20.7156 32.9473 25.3043 26.7601 31.5273 22.602C37.7503 18.4439 45.2226 16.5722 52.6709 17.3058C59.737 18.0018 66.3668 21.0017 71.5473 25.8264L71.5154 25.8583C66.3424 21.0409 59.7222 18.0455 52.6664 17.3506C45.2285 16.618 37.7667 18.4871 31.5523 22.6394C25.338 26.7917 20.7556 32.9703 18.586 40.1224C16.4165 47.2745 16.7939 54.9576 19.6541 61.8626C22.5142 68.7677 27.6801 74.4673 34.2715 77.9905C40.863 81.5137 48.4721 82.6424 55.8024 81.1843C63.1327 79.7262 69.7307 75.7716 74.4721 69.9941C78.956 64.5305 81.5171 57.7565 81.7821 50.7157C81.783 50.6926 81.7922 50.674 81.805 50.6614C81.8111 50.6554 81.8162 50.6526 81.8188 50.6515C81.8205 50.6508 81.8226 50.6501 81.8275 50.6501Z" stroke="black" stroke-width="2.3"/>
              <ellipse cx="50.5" cy="49.5" rx="20.5" ry="21.5" fill="white"/>
              <g clip-path="url(#clip0)">
              <path d="M49.006 55.0968H42.1359C42.7559 54.0753 44.023 52.915 45.1787 51.8566C47.3935 49.828 49.6837 47.7307 49.6837 45.1966C49.6837 42.0135 47.0982 40.1118 44.5989 40.1118C42.0497 40.1118 39.0729 41.5589 39.0729 45.6373C39.0729 46.2545 39.5739 46.7555 40.1912 46.7555C40.8085 46.7555 41.3094 46.2545 41.3094 45.6373C41.3094 42.6688 43.6098 42.3484 44.5989 42.3484C45.7815 42.3484 47.4471 43.2324 47.4471 45.1966C47.4471 46.7466 45.4393 48.585 43.6679 50.2071C41.5314 52.1636 39.5135 54.0121 39.5135 56.2151V57.3334H49.006C49.6233 57.3334 50.1243 56.8324 50.1243 56.2151C50.1243 55.5978 49.6233 55.0968 49.006 55.0968Z" fill="black"/>
              <path d="M61.2277 50.6233H58.9911V41.1179C58.9911 40.6203 58.6618 40.1824 58.1837 40.0438C57.7073 39.9062 57.194 40.1003 56.9273 40.5213L50.2176 51.145C50.0001 51.49 49.9867 51.925 50.1835 52.2823C50.3809 52.639 50.7555 52.8604 51.1631 52.8604H56.7545V56.2153C56.7545 56.8326 57.2555 57.3336 57.8728 57.3336C58.4901 57.3336 58.9911 56.8326 58.9911 56.2147V52.8599H61.2277C61.845 52.8599 62.346 52.3589 62.346 51.7416C62.346 51.1243 61.845 50.6233 61.2277 50.6233ZM56.7545 50.6239H53.1922L56.7545 44.9832V50.6239Z" fill="black"/>
              <path d="M72.9501 20C72.3702 20 71.9001 20.4667 71.9001 21.0426V26.9148H66.0501C65.4702 26.9148 65.0001 27.3815 65.0001 27.9574C65.0001 28.5333 65.4702 29 66.0501 29H72.9501C73.5301 29 74.0001 28.5329 74.0001 27.9574V21.0426C74.0001 20.4667 73.5301 20 72.9501 20Z" fill="black"/>
              </g>
              <defs>
              <linearGradient id="paint0_linear" x1="-10.5882" y1="123.529" x2="200" y2="63.5294" gradientUnits="userSpaceOnUse">
              <stop stop-color="#FFE632"/>
              <stop offset="1" stop-color="#FFAC00"/>
              </linearGradient>
              <clipPath id="clip0">
              <rect x="21" y="20" width="62" height="62" fill="white"/>
              </clipPath>
              </defs>
            </svg>
        </div>
        <div class="mt-5 text-center">
          <h5 v-scrollanimation  class="text-lg leading-6 font-medium text-gray-900">ПОДДЕРЖКА 24/7</h5>
          <p v-scrollanimation  class="mt-2 text-base leading-6 text-gray-800">
            Получи необходимую поддержку до, вовремя и после обучения!
          </p>
        </div>
      </div>
      <div class="mt-20 lg:mt-0">
        <div class="flex items-center justify-center h-12 w-1/6 mx-auto">
          <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip100)">
          <circle cx="49.999" cy="50" r="50" fill="white"/>
          <circle cx="49.999" cy="50" r="50" fill="url(#paint0_linear-2)"/>
          <ellipse cx="30" cy="56.5" rx="12" ry="12.5" fill="white"/>
          <g clip-path="url(#clip101)">
          <path d="M41.5874 44.2962L41.5854 44.3319C41.4474 46.7485 42.8011 49.0124 45.0349 50.0978L45.0579 50.109C45.8454 50.4857 46.4909 51.1068 46.8982 51.8791L46.9074 51.8959C48.033 54.0391 50.361 55.3383 52.8428 55.208L52.8805 55.206C53.7806 55.1556 54.674 55.3877 55.4356 55.8703C57.5371 57.1848 60.2047 57.1848 62.3063 55.8703C63.0679 55.3877 63.9613 55.1556 64.8614 55.206L64.899 55.208C67.3768 55.3394 69.7079 54.0391 70.836 51.8923L70.8416 51.8806C71.2504 51.1063 71.8975 50.4842 72.6876 50.107L72.7059 50.0978C74.9398 49.0119 76.2939 46.7485 76.1555 44.3314L76.1534 44.2978C76.1076 43.4466 76.3438 42.604 76.8265 41.901C78.2158 39.8748 78.2158 37.2031 76.827 35.1764C76.3449 34.4739 76.1076 33.6319 76.1534 32.7807L76.1555 32.745C76.2939 30.3279 74.9398 28.0645 72.7039 26.9781L72.6835 26.9679C71.8975 26.5922 71.2535 25.9742 70.8457 25.2039L70.834 25.181C69.7079 23.0377 67.3768 21.7391 64.899 21.8689L64.8609 21.8709C63.9613 21.9213 63.0679 21.6892 62.3068 21.2066H62.3057C60.2042 19.8921 57.5366 19.8921 55.4351 21.2066C54.6735 21.6887 53.7801 21.9208 52.88 21.8704L52.8423 21.8684C50.3641 21.737 48.0335 23.0372 46.9079 25.18L46.8992 25.1958C46.4914 25.9696 45.8454 26.5912 45.0568 26.9684L45.0355 26.9786C42.8016 28.064 41.4474 30.3279 41.5859 32.745L41.5879 32.7786C41.6337 33.6298 41.3975 34.4724 40.9149 35.1749C39.5256 37.2016 39.5256 39.8738 40.9149 41.9C41.397 42.6025 41.6337 43.445 41.5874 44.2962ZM42.631 36.359C43.3758 35.2747 43.7408 33.9745 43.6696 32.661L43.6675 32.6254C43.5942 31.0238 44.4933 29.5362 45.9447 28.8556L45.9625 28.8469C47.1533 28.2768 48.1282 27.338 48.7431 26.1702L48.7533 26.1508C49.5012 24.7264 51.0676 23.863 52.7313 23.9516L52.768 23.9531C54.0993 24.0279 55.4203 23.6848 56.5464 22.971C57.9683 22.0817 59.7725 22.0817 61.1944 22.971C62.3205 23.6838 63.6416 24.0274 64.9723 23.9536L65.009 23.9516C66.6808 23.864 68.2397 24.7264 68.9855 26.1467L68.9992 26.1727C69.6142 27.339 70.5881 28.2763 71.7773 28.8459L71.7946 28.8546C73.269 29.5714 74.1639 31.0513 74.0738 32.6259L74.0718 32.6631C74.0005 33.9765 74.366 35.2762 75.1108 36.3606C76.0109 37.6735 76.0104 39.4044 75.1098 40.7168C74.3655 41.8017 74.0005 43.1019 74.0718 44.4154L74.0738 44.4505C74.1639 46.0251 73.269 47.5055 71.7941 48.2228L71.7789 48.2299C70.5871 48.8011 69.6112 49.7409 68.9957 50.9108L68.988 50.9261C68.2397 52.3505 66.6758 53.2144 65.0095 53.1253L64.9734 53.1233C63.6421 53.049 62.3205 53.3926 61.1939 54.1058C59.7725 54.9947 57.9683 54.9947 56.5469 54.1058C55.5227 53.4568 54.3345 53.1126 53.1218 53.1136C53.0042 53.1136 52.8861 53.1167 52.768 53.1233L52.7313 53.1248C51.0895 53.2292 49.5363 52.3699 48.7518 50.9235L48.7411 50.9037C48.1271 49.7379 47.1538 48.8011 45.965 48.2315L45.9457 48.2218C44.4709 47.505 43.5759 46.0246 43.6665 44.4505L43.6686 44.4133C43.7393 43.0999 43.3738 41.7997 42.6295 40.7158C41.7299 39.4029 41.7305 37.672 42.631 36.3601V36.359Z" fill="black"/>
          <path d="M52.1431 49.316C52.6314 49.621 53.2743 49.4718 53.5793 48.9836L65.9303 29.1974C66.1319 28.8812 66.1487 28.4811 65.9735 28.1497C65.7984 27.8178 65.4583 27.606 65.0836 27.5943C64.709 27.5826 64.3567 27.773 64.1612 28.0932L51.8107 47.8794C51.5058 48.3681 51.6544 49.0111 52.1431 49.316Z" fill="black"/>
          <path d="M53.2496 38.5898C55.7884 38.5898 57.8543 36.2343 57.8543 33.3391C57.8543 30.4439 55.7884 28.0889 53.2496 28.0889C50.7108 28.0889 48.6454 30.4439 48.6454 33.3391C48.6454 36.2343 50.7108 38.5898 53.2496 38.5898ZM53.2496 30.1741C54.6389 30.1741 55.769 31.5939 55.769 33.3391C55.769 35.0842 54.6389 36.5046 53.2496 36.5046C51.8608 36.5046 50.7306 35.0837 50.7306 33.3391C50.7306 31.5944 51.8608 30.1741 53.2496 30.1741Z" fill="black"/>
          <path d="M59.8861 43.7385C59.8861 46.6337 61.9515 48.9887 64.4903 48.9887C67.0291 48.9887 69.095 46.6332 69.095 43.7385C69.095 40.8443 67.0296 38.4883 64.4908 38.4883C61.9515 38.4883 59.8861 40.8428 59.8861 43.7385ZM67.0098 43.7385C67.0098 45.4837 65.8796 46.9035 64.4903 46.9035C63.1015 46.9035 61.9713 45.4837 61.9713 43.7385C61.9713 41.9934 63.1015 40.5735 64.4903 40.5735C65.8796 40.5735 67.0098 41.9923 67.0098 43.7385Z" fill="black"/>
          <path d="M80.8646 61.0512C79.484 58.601 76.4223 57.6678 73.91 58.9314L65.7427 62.7903C64.6151 60.6933 62.452 59.3585 60.0715 59.2913L52.5319 59.0836C51.3381 59.0495 50.1666 58.7466 49.1052 58.1988L48.338 57.8012C44.4099 55.7537 39.7278 55.7588 35.8038 57.8145L35.8516 56.0764C35.8674 55.5006 35.4138 55.0211 34.838 55.0053L26.5704 54.7777C25.9946 54.762 25.5156 55.2156 25.4998 55.7913L25.0004 73.9347C24.9846 74.5105 25.4382 74.99 26.014 75.0058L34.2816 75.2334H34.3106C34.8752 75.2329 35.3369 74.7834 35.3527 74.2193L35.3761 73.3513L37.524 72.2013C38.367 71.7477 39.3531 71.6397 40.2741 71.9004L53.0995 75.5001C53.1219 75.5068 53.1443 75.5119 53.1672 75.5169C54.0943 75.7109 55.0391 75.8081 55.9865 75.8076C57.9923 75.8087 59.9747 75.3764 61.7978 74.5395C61.8426 74.5191 61.8858 74.4957 61.9271 74.4692L80.523 62.44C80.9868 62.1407 81.1365 61.5313 80.8646 61.0512ZM27.1136 72.9496L27.5555 56.8915L33.7389 57.0615L33.2965 73.1202L27.1136 72.9496ZM60.858 72.6762C58.5931 73.6985 56.0634 73.9805 53.629 73.4826L40.8376 69.8931C39.3984 69.4858 37.8569 69.6548 36.5399 70.3629L35.4423 70.9504L35.7366 60.2733C39.2141 57.96 43.6748 57.7223 47.3789 59.6523L48.1461 60.0499C49.487 60.7422 50.9664 61.1245 52.4749 61.1678L60.0144 61.3755C62.1322 61.4361 63.9309 62.944 64.3605 65.0191L53.1301 64.71C52.5543 64.6943 52.0752 65.1479 52.0594 65.7236C52.0437 66.2994 52.4973 66.779 53.073 66.7948L65.4668 67.1358H65.4963C66.0604 67.1353 66.5221 66.6858 66.5379 66.1217C66.5506 65.6687 66.5165 65.2151 66.4371 64.7691L74.8126 60.8109L74.837 60.7992C76.0253 60.1975 77.4624 60.3986 78.4394 61.3032L60.858 72.6762Z" fill="black"/>
          </g>
          </g>
          <defs>
          <linearGradient id="paint0_linear-2" x1="-10.5892" y1="123.529" x2="199.999" y2="63.5294" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FFE632"/>
          <stop offset="1" stop-color="#FFAC00"/>
          </linearGradient>
          <clipPath id="clip100">
          <rect x="-0.000976562" width="100" height="100" fill="white"/>
          </clipPath>
          <clipPath id="clip101">
          <rect x="25" y="20" width="56" height="56" fill="white"/>
          </clipPath>
          </defs>
          </svg>
        </div>
        <div class="mt-5 text-center">
          <h5 v-scrollanimation  class="text-lg leading-6 font-medium text-gray-900">НЕ ПЕРЕПЛАЧИВАЙ</h5>
          <p v-scrollanimation  class="mt-2 text-base leading-6 text-gray-800">
            Экономь до 25 % от стоимости вместе с RoboEnglish! Без комиссий и переплат.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>

</style>
