<template>
<section class="max-w-5xl mx-auto py-10" id="steps">
   <div>
      <div class="flex items-start flex-row">
         <div class="border-t-4 border-r-4 border-transparent">
            <div class="w-16 ml-16 h-16 border-l-4 border-gray-300 border-dashed border-b-4 rounded-bl-full"></div>
         </div>
         <div class="border-t-4 border-transparent flex-auto">
            <div class="h-16 border-b-4 border-gray-300 border-dashed"></div>
         </div>
         <div class="w-16 mt-16 mr-16 h-16 border-r-4 border-gray-300 border-dashed border-t-4 rounded-tr-full"></div>
      </div>
      <div class="flex flex-row-reverse">
         <div class="hidden md:flex flex-col items-center">
            <div class="w-32 py-5 border border-gray-300 rounded ml-4 uppercase flex flex-col items-center justify-center">
               <div v-scrollanimation class="text-2xl font-black" style="color: #38A856;">Успех</div>
               <div v-scrollanimation class="text-sm text-center" style="color: #3EC25F;">Достигли <br>цели</div>
            </div>
         </div>
         <div class="flex-auto border rounded  border-gray-300">
            <div  v-scrollanimation class="md:hidden text-sm font-normal uppercase pt-3 pl-3" style="color: #3EC25F;">
            <span class="font-black" style="color: #38A856;">Успех</span>
              - Достигли цели
          </div>
            <div class="flex md:flex-row flex-col items-center">

               <div class="md:w-96 w-full p-5">
                  <img v-scrollanimation src="~/assets/cert_like.jpg" style="border-radius: 4px;" alt="cert">
                </div>
            </div>
         </div>
      </div>
   </div>
</section>
</template>

<script>
  export default {

  }
</script>
