<template>
  <header class="header">
      <a href="/" class="logo"><img src="~/assets/logo.png" alt="Logo"></a>

      <div class="mobile-menu-icon" :class="{ 'mobile-menu-icon--open': isOpen }" @click="openMenu">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
      </div>


      <nav class="menu" :class="{ 'menu--open': isOpen }">
        <!-- <a href="/#steps" class="menu-link" role="menuitem" v-scroll-to="{ el: '#steps', offset: -70 }">Интересные факты</a> -->
        <a href="/volonter" class="hover:underline gradient text-white font-bold rounded-full py-3 px-8 shadow-lg mx-auto block text-center max-w-xs my-1 md:my-0 md:mx-2" role="button">Волонтерство</a>
        <a href="/lessons" class="hover:underline gradient text-white font-bold rounded-full py-3 px-8 shadow-lg mx-auto block text-center max-w-xs my-1 md:my-0 md:mx-2" role="button">Обучение за рубежем</a>
        <a href="/cost" class="hover:underline gradient text-white font-bold rounded-full py-3 px-8 shadow-lg mx-auto block text-center max-w-xs my-1 md:my-0 md:mx-2" role="button" >Стоимость</a>
        <a href="/employees" class="hover:underline gradient text-white font-bold rounded-full py-3 px-8 shadow-lg mx-auto block text-center max-w-xs" role="menuitem">Преподаватели</a>
        <a href="/" class="hover:underline gradient text-white font-bold rounded-full py-3 px-8 shadow-lg mx-auto block text-center max-w-xs my-1 md:my-0 md:mx-2" role="menuitem" v-scroll-to="{ el: '#otziv', offset: -70 }">Отзывы</a>
        <a href="/" class="hover:underline gradient text-white font-bold rounded-full py-3 px-8 shadow-lg mx-auto block text-center max-w-xs my-1 md:my-0 md:mx-2" role="menuitem" v-scroll-to="{ el: '#contact-main', offset: -70 }">Контакты</a>
      </nav>
  </header>
</template>

<script>
  export default {
    data: () => ({
      isOpen: false
    }),

    methods: {
      openMenu() {
        this.isOpen = !this.isOpen;
      }
    }
  }
</script>
