<template>
  <header class="header">
      <a href="/" class="logo"><img src="~/assets/logo.png" alt="Logo"></a>

      <div class="mobile-menu-icon" :class="{ 'mobile-menu-icon--open': isOpen }" @click="openMenu">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
      </div>


      <nav class="menu" :class="{ 'menu--open': isOpen }">
        <a href="/" class="menu-link" role="menuitem">Главная</a>
        <a href="#" v-scroll-to="{ el: '#workers', offset: -70 }" class="menu-link" role="menuitem">Преподаватели</a>
        <a href="#" v-scroll-to="{ el: '#vacansi', offset: -70 }" class="menu-link" role="menuitem">Вакансии</a>
      </nav>
  </header>
</template>

<script>
  export default {
    data: () => ({
      isOpen: false
    }),

    methods: {
      openMenu() {
        this.isOpen = !this.isOpen;
      }
    }
  }
</script>
