<template>
  <section class="section">
      <h2 id="otziv" v-scrollanimation class="mt-20 text-center text-2xl leading-9 font-bold text-gray-800">Что говорят наши ученики?</h2>
      <div class="container">
        <div class="card-list relative">
          <ul ref="card-list" class="list-slider" :style="listLen">
            <li class="list-slider-item relative" :style="listPosition" v-for="item in students" :key="item.id">
              <div class="card-slider border  border-gray-300">
                <div class="slider__img" :style="{ 'background-image': 'url('+ require('~/assets/students/'+ item.img +'.jpeg') + ')' }"></div>
                <div class="slider__content">
                  <h4 class="text-xl text-gray-800 font-medium mr-auto italic">{{ item.name }}</h4>
                  <div class="w-auto max-w-md relative p-3">
                    <p class="w-auto relative z-10 italic">
                      {{ item.quote }}
                    </p>
                    <p class="italic duble-quote" style="display: none;">{{ item.quoteNext }}</p>
                    <svg class="text-gray-300 h-8 absolute top-0 left-0" fill="currentColor" viewBox="0 0 32 32">
                      <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"></path>
                    </svg>
                  </div>
                  <div class="flex items-center justify-end mt-auto h-auto">
                      <a v-if="item.link" :href="item.link" class="text-gray-400 hover:text-gray-500 mr-auto mt-auto">
                            <svg class="h-10 w-10" fill="currentColor" viewBox="0 0 24 24">
                              <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd"></path>
                            </svg>
                      </a>
                      <a v-if="item.vk"  :href="item.vk" class="text-gray-400 hover:text-gray-500 mr-auto mt-auto">
                        <svg  xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="currentColor" viewBox="0 0 32 32">
                        <title>vk</title>
                        <path d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM25.919 22.4l-2.925 0.044c0 0-0.631 0.125-1.456-0.444-1.094-0.75-2.125-2.706-2.931-2.45-0.813 0.256-0.788 2.012-0.788 2.012s0.006 0.375-0.181 0.575c-0.2 0.219-0.6 0.262-0.6 0.262h-1.306c0 0-2.888 0.175-5.431-2.475-2.775-2.887-5.225-8.619-5.225-8.619s-0.144-0.375 0.013-0.556c0.175-0.206 0.644-0.219 0.644-0.219l3.131-0.019c0 0 0.294 0.050 0.506 0.206 0.175 0.125 0.269 0.369 0.269 0.369s0.506 1.281 1.175 2.438c1.306 2.256 1.919 2.75 2.362 2.513 0.644-0.35 0.45-3.194 0.45-3.194s0.012-1.031-0.325-1.488c-0.262-0.356-0.756-0.463-0.969-0.488-0.175-0.025 0.113-0.431 0.488-0.619 0.563-0.275 1.556-0.294 2.731-0.281 0.913 0.006 1.181 0.069 1.538 0.15 1.081 0.262 0.712 1.269 0.712 3.681 0 0.775-0.137 1.863 0.419 2.219 0.238 0.156 0.825 0.025 2.294-2.469 0.694-1.181 1.219-2.569 1.219-2.569s0.113-0.25 0.288-0.356c0.181-0.106 0.425-0.075 0.425-0.075l3.294-0.019c0 0 0.988-0.119 1.15 0.331 0.169 0.469-0.369 1.563-1.712 3.356-2.206 2.944-2.456 2.669-0.619 4.369 1.75 1.625 2.113 2.419 2.175 2.519 0.712 1.2-0.813 1.294-0.813 1.294z"></path>
                        </svg>
                      </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>


         <button v-show="curentIndex > 0" @click="prevIndex" style="top: -10px; left: 20px;" class="btn-left absolute mt-32 bg-white rounded-full shadow-md h-12 w-12 text-2xl text-indigo-600 hover:text-green-400 focus:text-green-400  -ml-6 focus:outline-none z-20">
            <span class="block" style="transform: scale(-1); color: #38A856;">&#x279c;</span>
          </button>
          <button v-show="curentIndex != students.length - 1" @click="nextIndex" style="top: -10px; left: 940px;" class="btn-right absolute mt-32 z-10 bg-white rounded-full shadow-md h-12 w-12 text-2xl text-indigo-600 hover:text-green-400 focus:text-green-400 -mr-6 focus:outline-none">
            <span class="block" style="transform: scale(1); color: #38A856;">&#x279c;</span>
          </button>
        </div>


      </div>

  </section>
</template>

<script>
//Гасида Спасибо большое, Нургуль, что дала мне возможность развить себя, развить мою карьеру.

  export default {
    name: 'TheSlider',

    computed: {
      studentImg() {
        return { 'background-image': 'url('+ require('~/assets/students/alena.jpeg') + ')' };
      },
      listLen() {
        return { 'width': this.students.length * 100 + '%' };
      },
      listPosition() {
        return { 'transform': 'translateX(-'+ 100 * this.curentIndex + '%)'}
      }
    },

    data() {
      return {
        students: [
          {
            id: '0',
            img: 'alena',
            vk: 'https://vk.com/id243773500',
            name: 'Алена',
            quote: 'Школу посоветовал друг мужа, учу английский уже 3 месяца. В начале стеснялась говорить, сейчас появилась уверенность. Есть прогресс.'
          },
          {
            id: '1',
            img: 'asemzhan-mob',
            name: 'Асемжан',
            link: 'https://www.instagram.com/_pusechka/',
            quote: 'С детства люблю английский язык, но в школе не получаю достаточно знаний и моя мама нашла в интернете Roboenglish. Мне нравиться английский как преподаёт моя учительница, очень тактичная и объясняет урок очень легко и просто! Все нравится!'
            },
          {
            id: '2',
            img: 'dostan',
            name: 'Дастан',
            vk: 'https://vk.com/id153083819',
            quote: 'Отличная школа ! Профессиональные сотрудники помогут развить у ваших детей интеллектуальные качества и улучшат моторику. Мой сын занимается в этой школе. Очень довольны! Всем советую !'
          },
          {
            id: '3',
            img: 'ekaterina',name:
            'Екатерина',
            quote: "Долго искала курсы чешского языка, подруга посоветовала Roboenglish.  Занимаюсь с Нургуль, все нравится. Рекомендую"
          },
          {
            id: '4',
            img: 'gasida',
            name: 'Гасида',
            link: 'https://www.instagram.com/gassida/',
            quote: 'Я изучала в школе Французский язык, чтобы моя длительная поездка во Францию не стала катастрофой ;) Благодаря глубоким знанием, а также терпению моего учителя, я овладела основными навыками разговорной речи французского языка.',
            quoteNext: 'Сейчас я во Франции уже второй год, и я добилась больших успехов в своей работе тут благодаря своему французскому. Меня даже повысили ;)'
          },
          {
            id: '5',
            img: 'dilnaz',
            name: 'Дильназ',
            quote: "Долго искали курс чешского языка в Актобе, нашли Roboenglish. Обучением довольна, Нургуль  помогает кроме чешского и с поступлением и подбирает вузы"
          },
          {
            id: '6',
            img: 'batyr',
            name: 'Батыр',
            link: 'https://www.instagram.com/batyrzaizulla/',
            quote: 'Я изучал английский язык перед поездкой в США. Мне почти 40 лет, и для меня изучать что-то, особенно иностранный язык, очень сложно. Мой учитель сидел со мной и так терпеливо обучал, что мне становилось временами стыдно.',
            quoteNext: 'Я думал, что я так и не научился разговаривать на английском, но какого было моё удивление, когда приехав в США, я без труда отвечал на простые вопросы "Как дела?", "Куда едете?" и т.д. В штатах были молодые люди из Казахстана, которые всё время спрашивали откуда у меня такой английский? Ведь многие в моём возрасте и тем более, кто впервые приехал вообще ничего не понимают. А я с гордостью отвечал, что я изучал английский, и мой учитель Best of the best! Язык до Киева доведёт, и это правда!'
          },
        ],
        curentIndex: 0,
        touch: {
          startX: 0,
          endX: 0
        }
      }
    },

    mounted() {
      this.$refs['card-list'].addEventListener('touchstart', (event) => this.touchstart(event))
      this.$refs['card-list'].addEventListener('touchmove', (event) => this.touchmove(event))
      this.$refs['card-list'].addEventListener('touchend', () => this.touchend())
    },

    methods: {
      touchstart(event) {
        this.touch.startX = event.touches[0].clientX;
        this.touch.endX = 0;
      },
      touchmove(event) {
        this.touch.endX = event.touches[0].clientX;
      },
      touchend() {
        if (!this.touch.endX || Math.abs(this.touch.endX - this.touch.startX) < 40) {
          return;
        }

        if(this.touch.endX < this.touch.startX) {
          this.nextIndex();
        } else {
          this.prevIndex();
        }
      },

      nextIndex() {
        if (this.curentIndex < this.students.length - 1) {
          this.curentIndex++;
        }
      },

      prevIndex() {
        if (this.curentIndex) {
          this.curentIndex--;
        }
      }
    }

  }
</script>

<style scoped>
.section {
  height: 100%;
  overflow: hidden;
}
.container {
  max-width: 950px;
  margin: 150px auto;
  width: 100%;
  height: 100%;
}

@media(max-width: 678px) {
 .container {
   padding: 16px;
 }
}
.list-slider {
  list-style: none;
  display: flex;
}

.list-slider-item {
  padding: 0 20px;
  transition: 0.5s all ease;
}

.card-slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 40px;
  display: flex;
}

.slider__img {
  width: 350px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 100% 20%;
  background-size: cover;
}

@media(max-width: 678px) {
  .card-slider {
    flex-direction: column;
    height: auto;
  }
  .slider__img {
    width: auto;
  }
}

.slider__content {
  flex: 1 1 0%;
  width: 600px;
  max-width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

@media(max-width: 678px) {
  .slider__content {
    padding: 16px;
    width: auto;
  }

  .btn-left, .btn-right {
    display: none!important;
  }

  .duble-quote {
    display: block!important;
  }
}
</style>
