<template>
      <div class="section relative mt-32 pb-40" id="vacansi">

        <h3 v-scrollanimation  class="flex flex-col items-center text-4xl text-secondary font-bold mb-10 text-center">Вакансии RoboEnglish</h3>

        <img src="@/assets/section-bg-large.svg" class="absolute bottom-0" alt="" srcset="">

        <form v-on:submit.prevent="onSubmit" method="POST" class="form bg-white p-6 mt-24 relative max-w-4xl mx-auto rounded">
            <div class="icon bg-blue-600 text-white w-6 h-6 absolute flex items-center justify-center p-5" style="left:-40px"><i class="fal fa-phone-volume fa-fw text-2xl transform -rotate-45"></i></div>
            <h3 class="text-2xl text-gray-900 font-semibold">Откликнуться на вакансию</h3>
            <div class="flex space-x-5 mt-3">
                <input type="text" name="name" id="" placeholder="Ваше Имя" class="border p-2  w-1/2 rounded focus:outline-none">
                <input type="tel" name="phone"  v-mask="'+# (###) ###-##-##'" id="" placeholder="Ваш Телефон" class="border p-2 w-1/2 rounded focus:outline-none">
            </div>
            <input type="email" name="email" id="" placeholder="Ваша Почта" class="border p-2 w-full mt-3 rounded focus:outline-none">
            <textarea name="comment" id="" cols="10" rows="3" placeholder="Сопроводительное письмо" class="border p-2 mt-3 w-full rounded focus:outline-none"></textarea>
            <input type="submit"  value="Откликнуться сейчас" class="w-full mt-6 bg-blue-600 hover:bg-blue-500 text-white font-semibold p-3 rounded focus:outline-none">

        </form>
      </div>
</template>

<script>
import {mask} from 'vue-the-mask'
  export default {
    directives: {mask},
    methods: {
      onSubmit(event) {
        const formData = new FormData(event.target);
        // const data = [...formData.entries()]
        // const asString = data.map(x => `${encodeURIComponent(x[0])}=${encodeURIComponent(x[1])}`).join('&')

        const asString = new URLSearchParams(formData).toString()

        fetch('/admin/app.php?a=add_ticket', {
          method: 'post',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: asString
        }).then((res) => {
          window.location.reload();
        })
      }
    }
  }
</script>

<style scoped>
.icon::after {
  content: '';
  display: block;
  position: absolute;
  border-top: 23px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 12px solid #3182ce;
  left: 100%;
  top: 0;
}
</style>
