<template>
      <div class="section mx-auto px-4 sm:px-6 lg:max-w-screen-xl lg:px-8" id="workers">
        <h3 v-scrollanimation  class="flex flex-col items-center text-4xl text-secondary font-bold mb-10">Наша команда</h3>


    <div class="vue-horizontal-list" ref="container">
          <div class="vhl-navigation" v-if="width.window > _options.navigation.start">
            <div @click="prev" v-if="_hasPrev"
                class="vhl-btn-left">
              <svg :fill="_options.navigation.color" width="32px" height="32px" viewBox="0 0 24 24">
                <path d="M10.757 12l4.95 4.95a1 1 0 1 1-1.414 1.414l-5.657-5.657a1 1 0 0 1 0-1.414l5.657-5.657a1 1 0 0 1 1.414 1.414L10.757 12z"/>
              </svg>
            </div>

            <div @click="next" v-if="_hasNext"
                class="vhl-btn-right">
              <svg :fill="_options.navigation.color" width="32px" height="32px" viewBox="0 0 24 24">
                <path d="M13.314 12.071l-4.95-4.95a1 1 0 0 1 1.414-1.414l5.657 5.657a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 0 1-1.414-1.414l4.95-4.95z"/>
              </svg>
            </div>
          </div>

          <div class="vhl-container" :style="_style.container">
            <div class="vhl-list" ref="list" :class="_options.list.class" :style="_style.list">
              <div v-for="item in items" :key="item.id" ref="item" class="vhl-item" :class="_options.item.class" :style="_style.item">
              <div class="max-w-sm bg-white shadow-lg rounded-lg overflow-hidden">
                <img class="w-full h-56 object-cover" :src="require(`@/assets/workers/${item.img}.jpeg`)" alt="avatar" :style="item.imgStyle">
                <div class="flex items-center px-6 py-3 bg-gray-900">
                    <svg class="h-6 w-6 text-white fill-current" viewBox="0 0 512 512">
                        <path d="M256 48C150 48 64 136.2 64 245.1v153.3c0 36.3 28.6 65.7 64 65.7h64V288h-85.3v-42.9c0-84.7 66.8-153.3 149.3-153.3s149.3 68.5 149.3 153.3V288H320v176h64c35.4 0 64-29.3 64-65.7V245.1C448 136.2 362 48 256 48z"/>
                    </svg>
                    <h1 class="mx-3 text-white font-semibold text-lg">{{ item.title }}</h1>
                </div>
                <div class="py-4 px-6">
                    <h1 class="text-2xl font-semibold text-gray-800">{{ item.name }}</h1>
                    <p class="py-2 text-lg text-gray-700">{{ item.subtitle }}</p>
                    <div class="flex items-center mt-4 text-gray-700">
                        <svg class="h-6 w-6 fill-current" viewBox="0 0 512 512">
                            <path d="M239.208 343.937c-17.78 10.103-38.342 15.876-60.255 15.876-21.909 0-42.467-5.771-60.246-15.87C71.544 358.331 42.643 406 32 448h293.912c-10.639-42-39.537-89.683-86.704-104.063zM178.953 120.035c-58.479 0-105.886 47.394-105.886 105.858 0 58.464 47.407 105.857 105.886 105.857s105.886-47.394 105.886-105.857c0-58.464-47.408-105.858-105.886-105.858zm0 186.488c-33.671 0-62.445-22.513-73.997-50.523H252.95c-11.554 28.011-40.326 50.523-73.997 50.523z"/><g><path d="M322.602 384H480c-10.638-42-39.537-81.691-86.703-96.072-17.781 10.104-38.343 15.873-60.256 15.873-14.823 0-29.024-2.654-42.168-7.49-7.445 12.47-16.927 25.592-27.974 34.906C289.245 341.354 309.146 364 322.602 384zM306.545 200h100.493c-11.554 28-40.327 50.293-73.997 50.293-8.875 0-17.404-1.692-25.375-4.51a128.411 128.411 0 0 1-6.52 25.118c10.066 3.174 20.779 4.862 31.895 4.862 58.479 0 105.886-47.41 105.886-105.872 0-58.465-47.407-105.866-105.886-105.866-37.49 0-70.427 19.703-89.243 49.09C275.607 131.383 298.961 163 306.545 200z"/></g>
                        </svg>
                        <h1 class="px-2 text-sm">{{ item.from }}</h1>
                    </div>
                    <div class="flex items-center mt-4 text-gray-700" v-show="item.dop1">
                        <svg class="h-6 w-6 fill-current" viewBox="0 0 512 512">
                            <path d="M256 32c-88.004 0-160 70.557-160 156.801C96 306.4 256 480 256 480s160-173.6 160-291.199C416 102.557 344.004 32 256 32zm0 212.801c-31.996 0-57.144-24.645-57.144-56 0-31.357 25.147-56 57.144-56s57.144 24.643 57.144 56c0 31.355-25.148 56-57.144 56z"/>
                        </svg>
                        <h1 class="px-2 text-sm">{{ item.dop1 }}</h1>
                    </div>
                    <div class="flex items-center mt-4 text-gray-700">
                        <h1 class="px-2 text-sm">{{ item.dop2 }}</h1>
                    </div>
                </div>
              </div>



              </div>

              <div :style="_style.tail">
              </div>
            </div>
          </div>
      </div>
      </div>
</template>

<script>
  export default {

    data() {
      return {
        options: {
          responsive: [
            {end: 576, size: 1},
            {start: 576, end: 1020, size: 2},
            {size: 3}
          ]
        },
        items: [
          {
            id: '0',
            img: 'ashat',
            imgStyle: 'object-position: 50% 70%;',
            title: 'Преподаватель по французскому',
            name: 'Асхат',
            subtitle: 'По образованию  филолог французского языка, окончил Жубановский университет в городе Актобе',
            from: 'Обучает начинающих и продолжающих!',
            dop1: 'Получал также образование во Франции',
            dop2: 'За несколько месяцев научитесь понимать и главное разговаривать!🎯👍'
          },
          {
            id: '1',
            img: 'mila',
            imgStyle: 'object-position: 50% 70%;',
            title: 'Преподаватель русского языка для иностранцев',
            name: 'Мила',
            subtitle: 'Образование высшее',
            from: 'Опыт преподавания более 10 лет',
            dop1: '',
            dop2: ''
          },
          {
            id: '2',
            img: 'nurgul',
            imgStyle: 'object-position: 50% 70%;',
            title: 'Преподаватель чешского и английского языка',
            name: 'Нургуль',
            subtitle: 'Образование Кардов университет в Праге',
            from: 'Опыт преподавания более 6 лет',
            dop1: '',
            dop2: 'Преподаёт: общий, бизнес и разговорный, также курсы подготовки к экзаменам'
          },
          {
            id: '3',
            img: 'puvadol',
            imgStyle: 'object-position: 50% 50%;',
            title: 'Преподаватель тайского языка',
            name: 'Пувадол',
            subtitle: 'Образование высшее',
            from: 'Опыт преподавания более 5 лет',
            dop1: '',
            dop2: 'Преподает: общий тайский, разговорный, бизнес тайский'
          },
          {
            id: '4',
            img: 'svetlana',
            imgStyle: 'object-position: 50% 7%;',
            title: 'Преподаватель немецкого языка',
            name: 'Светлана',
            subtitle: 'Образование филолог немецкого языка',
            from: 'Опыт преподавания более 5 лет',
            dop1: 'Также имеется опыт обучения в Германии, в Баварии.',
            dop2: 'Обучает начинающих и продолжающих'
          },
        {
            id: '5',
            img: 'takhanao',
            imgStyle: 'object-position: 50% -12%;',
            title: 'Преподаватель японского языка',
            name: 'Тэканао',
            subtitle: 'Образование высшее университет префектуры Айти',
            from: 'Опыт преподавания более 6 лет',
            dop1: '',
            dop2: 'Преподаёт: Японский язык для иностранцев. Знает русский язык. Имеет опыт проживания в России'
          }
        ],

        position: 0,

        /**
         * Width of item, list and window
         */
        width: {
          container: 0,
          window: 576
        }
      }
    },

    mounted() {
      this.$resize = () => {
        this.width.window = window.innerWidth
        this.width.container = this.$refs.container.clientWidth
      }

      this.$resize()
      window.addEventListener('resize', this.$resize)
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.$resize)
    },

    methods: {
      nextPage(id) {
        this.items[id].quote += " " + this.items[id].quoteNext;
        this.items[id].quoteNext = "";
      },


      go(position) {
        const maxPosition = this.items.length - this._size
        this.position = position > maxPosition ? maxPosition : position

        const left = this._itemWidth * this.position + this.position * this._options.item.padding
        this.$refs.list.scrollTo({top: 0, left: left, behavior: 'smooth'})
      },

      /**
       * Go to a set of previous items
       */
      prev() {
        this.go(this.position - this._size)
      },

      /**
       * Go to a set of next items
       */
      next() {
        this.go(this.position + this._size)
      }
    },

    computed: {
     _options() {
        const options = this.options

        return {
          navigation: {
            start: options && options.navigation && options.navigation.start || 992,
            color: options && options.navigation && options.navigation.color || '#000',
          },
          item: {
            class: options && options.item && options.item.class || '',
            padding: options && options.item && options.item.padding || 16,
          },
          list: {
            class: options && options.list && options.list.class || '',
            windowed: options && options.list && options.list.windowed || 1200,
            padding: options && options.list && options.list.padding || 24,
          },
          responsive: [
            ...(options && options.responsive || []),

            // Fallback default responsive
            {end: 576, size: 1},
            {start: 576, end: 768, size: 2},
            {start: 768, end: 992, size: 3},
            {start: 992, end: 1200, size: 4},
            {start: 1200, size: 5},
          ],
        }
      },

      _style() {
        const style = {
          container: {},
          list: {},
          item: {},
          tail: {}
        }

        const workingWidth = this._workingWidth
        const size = this._size

        // Full Screen Mode
        if (this.width.window < this._options.list.windowed) {
          style.container.marginLeft = `-${this._options.list.padding}px`
          style.container.marginRight = `-${this._options.list.padding}px`

          style.item.width = `${(workingWidth - (size - 1) * this._options.item.padding) / size}px`
          style.item.paddingLeft = `${this._options.list.padding}px`
          style.item.paddingRight = `${this._options.item.padding}px`
          style.item.marginRight = `-${this._options.list.padding}px`
        }

        // Windowed Mode
        else {
          style.item.paddingLeft = `${this._options.item.padding / 2}px`
          style.item.paddingRight = `${this._options.item.padding / 2}px`

          style.container.marginLeft = `-${this._options.item.padding / 2}px`
          style.container.marginRight = `-${this._options.item.padding / 2}px`

          style.item.width = `${(workingWidth - (size - 1) * this._options.item.padding) / size}px`

        }

        return style
      },

      _itemWidth() {
        return (this._workingWidth - (this._size - 1) * this._options.item.padding) / this._size
      },

      /**
       * @return number actual width of the container
       */
      _workingWidth() {
        // Full Screen Mode
        if (this.width.window < this._options.list.windowed) {
          return this.width.window - this._options.list.padding * 2
        }

        // Windowed Mode
        else {
          return this.width.container
        }
      },

      /**
       * @return visible items in horizontal list at the current width/state
       */
      _size() {
        const width = this._workingWidth
        return this._options.responsive.find(value => {
          return (!value.start || value.start <= width) && (!value.end || value.end >= width)
        }).size
      },

      /**
       * @return boolean whether there is prev set of items for navigation
       * @private internal use
       */
      _hasNext() {
        return this.items.length > this.position + this._size
      },

      /**
       * @return boolean whether there is next set of items for navigation
       * @private internal use
       */
      _hasPrev() {
        return this.position > 0
      },
    }
  }
</script>

<style scoped>
 .vue-horizontal-list {
    position: relative;
  }

  .vhl-navigation {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .vhl-btn-left, .vhl-btn-right {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 24px;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    z-index: 2;
  }

  .vhl-btn-left:hover, .vhl-btn-right:hover {
    cursor: pointer;
  }

  .vhl-btn-left {
    margin-left: -24px;
    margin-right: auto;
  }

  .vhl-btn-right {
    margin-left: auto;
    margin-right: -24px;
  }

  .vhl-container {
    overflow-y: hidden;
    height: 100%;
    margin-bottom: -24px;
  }

  .vhl-list {
    display: flex;
    padding-bottom: 24px;
    margin-bottom: -24px;

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }

  .vhl-item {
    box-sizing: content-box;

    padding-top: 24px;
    padding-bottom: 24px;
  }

  .vhl-list > * {
    scroll-snap-align: start;
    flex-shrink: 0;
  }

  .vhl-item {
    z-index: 1;
  }
</style>
