:root {
  --black: #131313;
    /* LINKS */
  --primary: #3EC25F;
  --primary-dark-100: #38A856;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;

  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;

  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;

  --color-4-light: #6D6575;
  --color-4-dark: #4b4453;
}

/*
$color-primary: #de2233;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #de2233;
$color-black: #000;
*/

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--black);
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: var(--primary);
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--primary-dark-100);
  color: var(--primary-dark-100);
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff!important;
  background-color: var(--primary);
}

.header {
  height: 60px;
  width: 100%;
  padding: 0 16px;
  position: fixed;
  top: 0;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #efefef;
  z-index: 10;
}

.mobile-menu-icon {
  margin: auto 0 auto auto;
  width: 35px;
  min-width: 35px;
  padding: 5px;
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 768px) {
  .mobile-menu-icon {
    display: none;
  }
}

.mobile-menu-icon > div {
  height: 3px;
  background: #3EC25F;
  margin: 5px 0;
  width: 100%;
  border-radius: 2px;
}
.mobile-menu-icon:hover > div {
  background-color: #3EC25F;
  transition: 0.4s  ease-in-out;
}
.mobile-menu-icon--open > .line-1 {
  width: 100%;
}
.mobile-menu-icon--open > .line-2 {
  width: 75%;
}
.mobile-menu-icon--open > .line-3 {
  width: 50%;
}

.menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  padding: 8px;
  border-bottom: 1px solid #efefef;
  background: white;
}

@media (min-width: 768px) {
  .menu {
    display: flex !important;
    position: relative;
    width: initial;
    border-bottom: none;
    margin: auto 0 auto auto;
    background: none;
    left: initial;
    top: initial;
  }
}
.menu.menu--open {
  display: block;
}
.menu-link {
  padding: 10px 12px;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: var(--primary);
}
.menu-link:hover {
  color: var(--primary-dark-100);
}

.gradient {
  background: linear-gradient(90deg, #28b485 0%, #7ed56f 100%);
}
.logo {
  display: block;
  padding: 4px 8px;
  text-align: center;
  margin: auto 0;
  font-weight: bold;
  color: var(--primary);
}
.logo:hover {
  color: var(--primary-dark-100);
}

.logo img {
  height: 126px;
  position: fixed;
  top: -26px;
  left: auto;
}


.card {
  height: auto;
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 15px 40px rgba(0, 0, 0, .15);
}

.card__side {
  height: auto;
  color: #fff;
  position: relative;
}

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
}

.card__side--back-2 {
  background-image: linear-gradient(to right bottom, var(--color-tertiary-light), var(--color-tertiary-dark));
}

.card__side--back-3 {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
}

.card__side--back-4 {
  background-image: linear-gradient(to right bottom, var(--color-4-light), var(--color-4-dark));
}



.card__side--back {
  text-align: center;
  transform: rotateY(0);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.card:hover .card__side--front {
  transform: rotateY(0);
}

.card__picture {
  background-position: center;
  background-size: cover;
  height: 140px;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--1 {
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
}

.card__picture--2 {
  background-image: linear-gradient(to right bottom, var(--color-tertiary-light), var(--color-tertiary-dark));
}

.card__picture--3 {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
}

.card__picture--4 {
  background-image: linear-gradient(to right bottom, var(--color-4-light), var(--color-4-dark));
}

.card__heading {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.8;
  text-transform: uppercase;
  text-align: right;
  color: white;
  position: absolute;
  top: 50px;
  right: 10px;
  width: 65%;
}

.card__heading-span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 10px 15px;
}

.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(85, 67, 250, 0.85));
}

.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.card__heading-span--4 {
  background-image: linear-gradient(to right bottom, rgba(109, 101, 117, 0.85), rgba(75, 68, 83, 0.85));
}


.card__details {
  padding: 10px;
  color: rgb(70, 70, 70);
}

.card__details > ul {
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
}

.card__details > ul > li {
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.card__details > ul > li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0);
  width: 100%;
  padding: 40px 40px 5px;
}

.card__price-box {
  margin-bottom: 30px;
}

.card__price-only {
  font-size: 14px;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 50px;
  font-weight: 100;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 3px;
  transition: all .2s;
  position: relative;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(#000000,.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--white {
  background-color: #fff;
  color: #000;
}

.btn--white::after {
  background-color:  #fff;
}

.btn--white:active,
.btn--white:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(#000,.2);
}


@media(min-width: 600px) {

  .card {
    perspective: 1500px;
    -moz-perspective: 1500px;
    position: relative;
    height: 400px;
    background-color: initial;
    box-shadow: initial;
    border-radius: 0;
    overflow: initial;
  }

  .card__side {
    height: 410px;
    color: #fff;
    transition: all .8s ease;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .15);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .card__side--front {
    background-color: #fff;
    z-index: 1;
  }

  .card__side--back {
    transform: rotateY(180deg);
    clip-path: initial;
  }


  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }

  .card:hover .card__side--back {
    transform: rotateY(0deg);
  }

  .card__picture {
    background-size: cover;
    height: 210px;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }


  .card__heading {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.8;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 130px;
    right: 10px;
    width: 65%;
  }

  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 10px 15px;
  }

  .card__details > ul {
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
  }

  .card__details {
    padding: 20px 30px;
    color: rgb(70, 70, 70);
  }

  .card__details > ul > li {
    text-align: center;
    font-size: 15px;
    padding: 10px;
  }

  .card__details > ul > li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }

  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 40px 25px 5px;
  }

  .card__price-box {
    text-align: center;
    margin-bottom: 40px;
    color: white;
  }

  .card__price-only {
    font-size: 14px;
    text-transform: uppercase;
  }

  .card__price-value {
    font-size: 60px;
    font-weight: 100;
  }


}


.before-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease-out;
}

.enter {
  opacity: 1;
  transform: translateY(0px);
}


img.before-enter {
  opacity: 0;
  transform: scale(.5) rotateZ(-25deg);
  transition: all 2s ease-out;
}

img.enter {
  opacity: 1;
  transform: scale(1) rotateZ(0deg);
}
