<template>
  <div>
    <TheHeaderCost />
    <TheCost />
  </div>
</template>

<script>
import TheHeaderCost from '@/components/TheHeaderCost.vue';
import TheCost from '@/components/TheCost.vue';

  export default {
    components: {
      TheHeaderCost,
      TheCost
    }
  }
</script>
