<template>
  <div>
    <TheHeader />
    <div style="margin-top: 60px;">
      <TheHeroSection />
      <TheCardSection />
      <Steps />
      <ContactForm />
      <TheCert />
      <ObuchenieZaRub />
      <Volonter />
      <TheSlider />
      <TheFooterSection />
    </div>
  </div>
</template>

<script>
import TheHeroSection from '~/components/TheHeroSection.vue'
import TheFooterSection from '~/components/TheFooterSection.vue'
import TheCardSection from '~/components/TheCardSection.vue'
import ContactForm from '~/components/ContactForm.vue';
import Steps from '~/components/Steps.vue';
import TheHeader from '@/components/TheHeader.vue';
import TheSlider from '~/components/TheSlider.vue';
import TheCert from '@/components/TheCert.vue';
import ObuchenieZaRub from '@/components/ObychenieZaRub.vue';
import Volonter from '@/components/Volonter.vue';


export default {
  components: {
    TheHeader,
    TheHeroSection,
    TheFooterSection,
    TheCardSection,
    TheSlider,
    ContactForm,
    Steps,
    TheCert,
    ObuchenieZaRub,
    Volonter
  },

  head() {
    return {
      title: 'RoboEnglish'
    }
  }
}
</script>

