<template>
  <div>

    <header class="header">
      <a href="/" class="logo"><img src="~/assets/logo.png" alt="Logo"></a>

      <div class="mobile-menu-icon" :class="{ 'mobile-menu-icon--open': isOpen }" @click="openMenu">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
      </div>


        <nav class="menu" :class="{ 'menu--open': isOpen }">
          <a href="/" class="hover:underline gradient text-white font-bold rounded-full py-3 px-8 shadow-lg mx-auto block text-center max-w-xs my-1 md:my-0 md:mx-2" role="menuitem">Главная</a>
        </nav>
    </header>

    <div class="wrapper_volonter">
      <div v-scrollanimation  class="image_bg_fr"></div>
      <h3 >Обучение в Франции</h3>
      <p>Франция-является одним из развитых и лучших стран Европы. Преимущество этой страны в климате, в образовании, в толерантности самих французов и многое другое. Несомненно, обучаться в этой стране является плюсом. Что касается насчет климата, если предпочитаете холодные зимы вам в Нормандию, если любите солнечные пляжи, то во французскую риверу.</p>
      <p>Что касается обучения во Франции-оно бесплатное. Единственное Вам нужно оплачивать ежегодный взнос примерно 600 евро. Все университеты Франции получают дотацию от государства, что позволяет студентам доступное образование. Главное условие для поступления-это знание французского на уровне В2. </p>
      <p>Все студенты СНГ подрабатывают во Франции, по закону разрешено 20 часов в неделю. Можно учиться и оплачивать свое проживание самостоятельно, если вы являетесь достаточно активным и трудолюбивым студентом. Несомненно, учеба во Франции- это большой плюс. Поэтому, если вы желаете поступить бесплатно во Францию Мы предлагаем курсы интенсивного французского, параллельно с обучением на наших курсах Мы оформляем вас в французские вузы. Консультация по поводу обучения во Франции 2000 тг!</p>
      <br>
      <hr>
      <div v-scrollanimation  class="image_bg_chz"></div>
      <h3>Обучение в Чехии</h3>
      <p>Чехия- является одной из самых бюджетных стран Европы и славится своим бесплатным образованием. Многие студенты СНГ выбирают Чехию из-за бесплатного образование и тем, что эта страна славится своей безопасностью. Многие студенты Казахстана и России выбирают город обучения Прагу и Брно из-за развитой инфраструктуры и доступностью проживания. В среднем месяц проживания обойдётся нашим студентам 600-800 евро в зависимости. По закону Чехии можно работать не более 20 часов в неделю, что позволяет студентам СНГ покрывать свои основные расходы. Одним из лучших университетов является Карлов университет и ЧВУТ технический. Главным требованием поступления в эти Вузы является знание чешского языка на уровне В2 и хороший аттестат. Карлов университет является одним из старейших и крупнейших вузов страны.</p>
      <p>ЧВУТ- является одним из лидеров страны в сфере технического образования. ВУЗ выпускает блестящих технарей. Иностранным студентам также полагается стипендия в размере 2000 крон и стипендии за успеваемость. Однозначно, обучение в Чехии является престижным и доступным,  поэтому является популярным выбором среди наших студентов. Наша команда Roboenglish  помогаем с обучением чешского языка и оформляем в чешские вузы. Консультация по поводу обучения в Чехии - 2000 тг. Записывайтесь!</p>
    </div>
  </div>
</template>

<script>
  export default {
    data: () => ({
      isOpen: false
    }),

    methods: {
      openMenu() {
        this.isOpen = !this.isOpen;
      }
    }
  }
</script>

<style scoped>
.wrapper_volonter {
  margin: 100px auto;
  max-width: 695px;
  padding: 0 16px;
  text-align: center;
}
.wrapper_volonter p {
  margin: 20px 0;
}

.wrapper_volonter h3 {
  line-height: 1.4;
  font-size: 1.71rem;
  color: rgb(134, 46, 156);
  margin: 30px 0 20px;
}

.image_bg_fr {
  width: 100%;
  max-width: 600px;
  height: 400px;
  background-image: url(~@/assets/anthony.jpg);
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  background-repeat: no-repeat;
  border-radius: 4px;
  overflow: hidden;
}

.image_bg_chz{
  width: 100%;
  max-width: 600px;
  height: 400px;
  background-image: url(~@/assets/artem-chezh.jpg);
  background-position: center;
  background-size: cover;
  margin: 100px auto 0px;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.image_bg_fr.before-enter, .image_bg_chz.before-enter  {
  opacity: 0;
  transform: scale(.5) rotateZ(-25deg);
  transition: all 2s ease-out;
}

.image_bg_fr.enter, .image_bg_chz.enter {
  opacity: 1;
  transform: scale(1) rotateZ(0deg);
}

@media(max-width: 600px){
  .image_bg_fr {
    height: 250px;
    background-size: cover;
  }

  .image_bg_chz{
    height: 250px;
  }
}
</style>
