<template>
<div style="background: #eff2f7; padding-bottom: 40px;">
      <header class="header">
      <a href="/" class="logo"><img src="~/assets/logo.png" alt="Logo"></a>

      <div class="mobile-menu-icon" :class="{ 'mobile-menu-icon--open': isOpen }" @click="openMenu">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
      </div>


        <nav class="menu" :class="{ 'menu--open': isOpen }">
          <a href="/" class="hover:underline gradient text-white font-bold rounded-full py-3 px-8 shadow-lg mx-auto block text-center max-w-xs my-1 md:my-0 md:mx-2" role="menuitem">Главная</a>
        </nav>
    </header>
  <div class="wrapper_volonter">
    <img class="avatar" src="https://s.taplink.cc/a/9/f/8/7/1012d2.jpg?166" alt="gasida">
    <p class="inst">@gassida_travel</p>
    <h3>Кто такой Волонтёр?</h3>
    <div class="block-text block-text" style="text-align: center !important; line-height: 1.4; font-size: 1.12rem; margin-bottom: 20px;">Волонтёр - человек помогающей<br> в разных сферах <br>деятельности безвозмездно.<br><br>Волонтёрская программа это - вид путешествия, саморазвития, новые знакомства и прокачка языка.<br></div>

    <a href="https://taplink.cc/gassida_travel/p/1ed0d1/" class="v-button">Как стать волонтёром?</a>
    <a href="https://taplink.cc/gassida_travel/p/1ed28c/" class="v-button">Частые вопросы</a>
    <hr class="hr" />
    <a href="https://taplink.cc/gassida_travel/p/1ed0d4/" class="v-button" style="background: rgb(134, 46, 156);
    border-color: rgb(134, 46, 156);
    color: rgb(255, 255, 255);">Волонтёрство во Франции</a>
    <a href="https://taplink.cc/gassida_travel/p/1ed140/" class="v-button" style="background: rgb(156, 54, 181); border-color: rgb(156, 54, 181); color: rgb(255, 255, 255);">Волонтёрство в Германии</a>
    <a href="https://taplink.cc/gassida_travel/p/1ed262/" class="v-button" style="background: rgb(174, 62, 201); border-color: rgb(174, 62, 201); color: rgb(255, 255, 255);">Волонтёрство в Англии</a>
    <a href="https://taplink.cc/gassida_travel/p/1efbb1/" class="v-button" style="background: rgb(190, 75, 219); border-color: rgb(190, 75, 219); color: rgb(255, 255, 255);">Волонтёрство в Италии</a>
    <a href="https://taplink.cc/gassida_travel/p/1efbb7/" class="v-button" style="background: rgb(204, 93, 232); border-color: rgb(204, 93, 232); color: rgb(255, 255, 255);">Волонтёрство в Испании</a>
    <a href="https://taplink.cc/gassida_travel/p/1efc6e/" class="v-button" style="background: rgb(218, 119, 242); border-color: rgb(218, 119, 242); color: rgb(255, 255, 255);">Волонтёрство в Греции</a>
    <a href="https://taplink.cc/gassida_travel/p/1efc71/" class="v-button" style="background: rgb(229, 153, 247); border-color: rgb(229, 153, 247); color: rgb(255, 255, 255);">Волонтёрство в Ирландии</a>
    <a href="https://taplink.cc/gassida_travel/p/1efc74/" class="v-button" style="background: rgb(238, 190, 250); border-color: rgb(238, 190, 250); color: rgb(134, 46, 156);">Волонтёрство в Австрии</a>
    <a href="https://taplink.cc/gassida_travel/p/1efc77/" class="v-button" style="background: rgb(229, 153, 247); border-color: rgb(229, 153, 247); color: rgb(255, 255, 255);">Волонтёрство в Щвеции</a>
    <a href="https://taplink.cc/gassida_travel/p/1f0b29/" class="v-button" style="background: rgb(218, 119, 242); border-color: rgb(218, 119, 242); color: rgb(255, 255, 255);">Волонтёрство в Нидерландах</a>
    <a href="https://taplink.cc/gassida_travel/p/1f13ba/" class="v-button" style="background: rgb(190, 75, 219); border-color: rgb(190, 75, 219); color: rgb(255, 255, 255);">Волонтёрство в Малайзии</a>
    <a href="https://taplink.cc/gassida_travel/p/1f13bd/" class="v-button" style="background: rgb(174, 62, 201); border-color: rgb(174, 62, 201); color: rgb(255, 255, 255);">Волонтёрство в Таиланде</a>
    <a href="https://taplink.cc/gassida_travel/p/1f13c6/" class="v-button" style="background: rgb(156, 54, 181); border-color: rgb(156, 54, 181); color: rgb(255, 255, 255);">Волонтёрство в Индии</a>
    <a href="https://taplink.cc/gassida_travel/p/1f13c9/" class="v-button" style="background: rgb(134, 46, 156); border-color: rgb(134, 46, 156); color: rgb(255, 255, 255);">Волонтёрство во Вьетнаме</a>
  </div>
</div>
</template>

<script>
  export default {
    data: () => ({
      isOpen: false
    }),

    methods: {
      openMenu() {
        this.isOpen = !this.isOpen;
      }
    }
  }
</script>


<style scoped>
.wrapper_volonter {
  margin: 60px auto;
  max-width: 695px;
  text-align: center;
}
.avatar{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20px;
}

img {
  max-width: 100%;
}

.inst {
  color: #777777;
  margin-top: 10px;
}

h3{
  line-height: 1.4;
  font-size: 1.71rem;
  color: rgb(134, 46, 156);
  margin: 20px 0;
}

.v-button{
  background: rgb(166, 30, 77);
  border-color: rgb(166, 30, 77);
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  max-width: 90%;
  padding: 1.2rem;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 2px;
  position: relative;
  height: auto;
  line-height: 1.2;
  white-space: normal;
  min-height: 60px;
  margin: 10px auto;
}

.v-button:hover {
    opacity: 0.9;
}

.hr {
  width: 110px;
  margin: 0 auto;
  background: #000;
  height: 1px;
  opacity: .3;
}
</style>
